Backend/n8n_workflows/workflowV0.0.json
[{"createdAt":"2025-10-16T08:16:20.643Z","updatedAt":"2025-10-27T09:59:16.000Z","id":"NLRPvet2Y6Vrmpj5","name":"Initial Workflow TEST","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-352,432],"id":"3660e2b1-aeb0-456e-af0b-5f345a76e7c7","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"tOC5itr7bTkh8Gqi","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"={{ $json.body.message }}","operation":"executeQuery","query":"{{$fromAI('query')}}"},"type":"n8n-nodes-base.microsoftSqlTool","typeVersion":1.1,"position":[32,928],"id":"fecba2df-fb82-432b-abda-6cb38361dd62","name":"Microsoft SQL","credentials":{"microsoftSql":{"id":"fnKJr6NffU6txJAY","name":"Microsoft SQL account"}}},{"parameters":{"httpMethod":"POST","path":"4a25fd87-8d83-40a5-a22b-b76ee9e1e94f","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-544,176],"id":"22e12b16-aed5-4571-9b77-8895b155072a","name":"Webhook","webhookId":"4a25fd87-8d83-40a5-a22b-b76ee9e1e94f"},{"parameters":{"promptType":"define","text":"={{ $json.body.message }}","options":{"systemMessage":"=# **ROLE and OBJECTIVE:** You are an Expert Assistant on Querying Microsoft SQL Server for a flight database of an airport. Your goal is to query the database 'localdb' to find information about flights based on a unique identifier ('key') supplied by the user\nYour other possible task is to generate JSON objects so the user can generate graphs by themselves. Whenever the user needs to generate a graph, you should extract all the information from the database.\n\n# **FLEXIBILITY and RESPONSE:**\nYour main goal is to **extract only the information that the user asks you explicitly** (e.g \"give me the arrival time\", \"give me the status of the flight\"). If the user does only supply the flight ID without a specific question, provide a summary of the most important information (airline, origin, destination, state, departure time and arrival time). If the user asks you to generate a graph with some information, be sure to provide him with the JSON with the corresponding options.\n\n# **SEARCH RULES and DATABASE**\n1. **Unique Database** 'localdb'.\n2. **Tables to query (2024 arrivals):**\n    * * `ax_arrivals_20240701` ... until `ax_arrivals_20241201` (months from July to December).\nWhen querying the database, be sure to add this prefix before name of the table: localdb.dbo.table_name (eg: localdb.dbo.ax_arrivals_20241101)\n3. **Field Search:** The user input might be:\n- An instruction with the flight identifier (`key`, e.g: `UAL29/KSFO/010012`).\nor\n- An instruction about what information to obtain about the tables of the database (e.g: Give me all the flights that have departured from Madrid in 2024)\n4. **Search Logic:** In case the user provides you the `key` of a specific flight, you should search it in **ALL THE TABLES** sequentially until finding it. However, if it is a different instruction, you should perform the corresponding query according to what the user has asked to.\n\n# **DATABASE STRUCTURE (Key Fields):**\nTo interpret the queries, please remember the following fields: \n- [key]: Flight identifier\n- source: The source where the flights come from. It always has the same value: 'AX'.\n- feedtype: Nature of the data. It always has the same value: 'EVENT'.\n- callsign: Communication identifier of the aircraft.\n- orig: Origin airport of the flight.\n- dest: Destination ariport of the flight.\n- std: Scheduled Time of Departure. Similar to schedDep. Always NULL.\n- schedDep: Scheduled Departure Time. Always NULL.\n- schedArr: Sheduled Time of arrival. Always NULL.\n- fpid: Flight plan identifier. Always NULL.\n- gufi: Global Unique Flight Identifier. Always NULL.\n- status: Status of the flight. Since they are 2024 flights, they all have the same value: 'COMPLETED'\n- type: Type of flight. Always NULL.\n- rules: Rules by what the flight operates. Always NULL.\n- reg: Plate/Registration of the aircraft.\n- blocked: Indicates if the flight is blocked. Always 0.\n- hex: Aircraft Hexadecimal code.\n- beacon: Transportation code. \n- equip: Aircraft equipment. Always NULL.\n- perf: Takeoff, Landing and Flight score. Always NULL.\n- wake: Ranking of the generated turbulences. Always NULL.\n- actype: Aircraft type.\n- altitude: Maximum height at which the aircraft operates. Always NULL.\n- speed: Maximum speed at which the aircraft flies. Always NULL.\n- route: Descryption of the route to be followed. Always NULL.\n- remarks: Observations. Always NULL.\n- clearTime: Flight authorization time. Always NULL.\n- releaseTime: Time at which the plane can start to position itself on the runway. Always NULL.\n- taxiTime: Difference between depTime and takeoff. Always NULL.\n- depTime: Flight real departure time.\n- arrTime: Flight real arrival time.\n- parkTime: Always NULL.\n- airl: Flight airline.\n\n------------\n\n# **RESPONSE INSTRUCITONS**\nIf the user asked for information about a specific flight:\n1. **Flight Found:** Use the found data to **directly answer the user's question** in a natural way.\n2. **Flight Not Found:** If you have queried all the tables and you did not find the `key`, you should notify in a natural way that: \"Flight Identifier [supplied ID] has not been found in our database.\nIf he asked for any other information:\n3. **Information found** If you found the information you needed, present it to the user and answer his/her question in a natural way.\n4. **Information not found** If you did not find the needed information, notify the user that it cannot be found the information he/she asked for, since it does not exist on the database or the specification of the question was not good.\n5. **Graph Options** If the user asked for a graph about certain information in the database, return the according JSON. When answering the user, don't mention that you sent a JSON, simply say \"here's the graph with the information you asked\", and then put the JSON underneath.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-224,176],"id":"56cfbd78-6fef-4f8b-8768-b9b05ba8ac82","name":"AI Agent1"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"output\": {{ JSON.stringify($json.output) }}\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[208,176],"id":"10d8e753-2c4a-4ce2-9bfc-14d3435e6b48","name":"Respond to Webhook"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.conversationId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-144,432],"id":"959a166f-caa3-4de2-9dcd-239ffaf071a3","name":"Simple Memory"},{"parameters":{"endpointUrl":"http://localhost:5678/mcp/9cffd900-dd4c-43ef-a671-19f059b32545","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[48,432],"id":"611642c6-e34c-48f5-926f-26acb2a106b8","name":"MCP Client"},{"parameters":{"path":"9cffd900-dd4c-43ef-a671-19f059b32545"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":2,"position":[-320,672],"id":"d873a227-6f7c-4e9e-aa43-b8dece4ca72b","name":"MCP Server Trigger","webhookId":"9cffd900-dd4c-43ef-a671-19f059b32545"},{"parameters":{"description":"=Call this tool whenever the user requests to create a graph with the information from the database.\nThe idea is for you to return a string to create a graph that the user will afterwards use to render it as a **ECharts** graph.\nBe sure that the format is always correct, like this example of what you should offer as an output, in **JSON** format (example to create a bar chart):\noption = {\n        title: {\n          text: 'ECharts Getting Started Example'\n        },\n        tooltip: {},\n        legend: {\n          data: ['sales']\n        },\n        xAxis: {\n          data: ['Shirts', 'Cardigans', 'Chiffons', 'Pants', 'Heels', 'Socks']\n        },\n        yAxis: {},\n        series: [\n          {\n            name: 'sales',\n            type: 'bar',\n            data: [5, 20, 36, 10, 10, 20]\n          }\n        ]\n      };\nIt is important that you always keep the 'options = ' since this is needed to work properly on the frontend and then return the associated graph. It is also ABSOLUTELY IMPORTANT that you DO NOT INCLUDE COMMENTS ON THE OUTPUT, NEITHER THE FINAL ';'.","jsCode":""},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[-432,928],"id":"60c6a1bf-83d5-42cb-9be1-879bd688c9b3","name":"Chart Generator Tool"}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Microsoft SQL":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"AI Agent1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Chart Generator Tool":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Madrid","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"NLRPvet2Y6Vrmpj5"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7fdf22e3-131c-4989-bf7a-183faaf81a80","triggerCount":2,"tags":[],"shared":[{"createdAt":"2025-10-16T08:16:20.649Z","updatedAt":"2025-10-16T08:16:20.649Z","role":"workflow:owner","workflowId":"NLRPvet2Y6Vrmpj5","projectId":"mtgQeudARtwcPcqt","project":{"createdAt":"2025-10-15T12:49:12.013Z","updatedAt":"2025-10-15T12:51:17.058Z","id":"mtgQeudARtwcPcqt","name":"Alex Cantarero Fuentes <alex.cantarero@clearpeaks.com>","type":"personal","icon":null,"description":null}}]}]