Backend/src/js/untitled.json
{
    "id": "2056",
    "finished": true,
    "mode": "webhook",
    "retryOf": null,
    "retrySuccessId": null,
    "status": "success",
    "createdAt": "2025-12-16T12:44:03.722Z",
    "startedAt": "2025-12-16T12:44:03.769Z",
    "stoppedAt": "2025-12-16T12:44:09.263Z",
    "deletedAt": null,
    "workflowId": "DCOiy98pZ1G0qFei",
    "waitTill": null,
    "data": {
        "startData": {},
        "resultData": {
            "runData": {
                "Webhook": [
                    {
                        "startTime": 1765889043778,
                        "executionIndex": 0,
                        "source": [],
                        "hints": [],
                        "executionTime": 0,
                        "executionStatus": "success",
                        "data": {
                            "main": [
                                [
                                    {
                                        "json": {
                                            "headers": {
                                                "host": "localhost:5678",
                                                "connection": "keep-alive",
                                                "content-type": "application/json",
                                                "authorization": "Bearer undefined",
                                                "accept": "*/*",
                                                "accept-language": "*",
                                                "sec-fetch-mode": "cors",
                                                "user-agent": "node",
                                                "accept-encoding": "gzip, deflate",
                                                "content-length": "144"
                                            },
                                            "params": {},
                                            "query": {},
                                            "body": {
                                                "message": "Dame información sobre el aeropuerto de Madrid",
                                                "conversationId": "6941505e8fecfa68970f98f4",
                                                "timestamp": "2025-12-16T12:44:03.687Z"
                                            },
                                            "webhookUrl": "http://localhost:5678/webhook/af5cde1d-5e54-4115-a4fa-4696aa8177b6",
                                            "executionMode": "production"
                                        },
                                        "pairedItem": {
                                            "item": 0
                                        }
                                    }
                                ]
                            ]
                        }
                    }
                ],
                "Simple Memory": [
                    {
                        "startTime": 1765889043828,
                        "executionTime": 0,
                        "executionIndex": 2,
                        "executionStatus": "success",
                        "source": [
                            {
                                "previousNode": "AI Agent1",
                                "previousNodeRun": 0
                            }
                        ],
                        "data": {
                            "ai_memory": [
                                [
                                    {
                                        "json": {
                                            "action": "loadMemoryVariables",
                                            "chatHistory": [
                                                {
                                                    "lc": 1,
                                                    "type": "constructor",
                                                    "id": [
                                                        "langchain_core",
                                                        "messages",
                                                        "HumanMessage"
                                                    ],
                                                    "kwargs": {
                                                        "content": "Dame información sobre el aeropuerto de Madrid",
                                                        "additional_kwargs": {},
                                                        "response_metadata": {}
                                                    }
                                                },
                                                {
                                                    "lc": 1,
                                                    "type": "constructor",
                                                    "id": [
                                                        "langchain_core",
                                                        "messages",
                                                        "AIMessage"
                                                    ],
                                                    "kwargs": {
                                                        "content": "El aeropuerto de Madrid tiene el código IATA MAD. Su nombre detallado es MADRID/ES y se encuentra en la ciudad de Madrid, España. Las coordenadas geográficas son 40.49195 de latitud y -3.56944 de longitud. Su huso horario es +01:00.",
                                                        "tool_calls": [],
                                                        "invalid_tool_calls": [],
                                                        "additional_kwargs": {},
                                                        "response_metadata": {}
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                ]
                            ]
                        },
                        "inputOverride": {
                            "ai_memory": [
                                [
                                    {
                                        "json": {
                                            "action": "loadMemoryVariables",
                                            "values": {
                                                "input": "Dame información sobre el aeropuerto de Madrid",
                                                "system_message": "# **ROLE and OBJECTIVE:** You are an Expert Assistant on Querying the Amadeus API for information about flights, airports and hotels. Your goal is to query the API to find information about what is requested by the user.\nYour other possible task is to generate JSON objects so the user can generate graphs by themselves. Whenever the user needs to generate a graph, you should extract all the information from the API.\n\n# **FLEXIBILITY and RESPONSE:**\nYour main goal is to **extract only the information that the user asks you explicitly** (e.g \"give me the estimated duration of the flight\", \"give me the price of booking the tickets for the flight, etc.\"). If the user asks you to generate a graph with some information, be sure to provide him with the JSON with the corresponding options.\n\n# **AVAILABLE TOOLS TO USE**\n\n## **IMPORTANT: Tool Parameter Requirements**\nBefore calling any tool, ensure you provide the EXACT parameters required. Do NOT add extra parameters or use incorrect parameter names.\n\n1. **options-echarts-generation**: \n   - **Purpose**: Provides instructions on how to generate ECharts options\n   - **Parameters**: None required - this tool only returns instructions\n   \n2. **get-flight-offers**: \n   - **Purpose**: Gets flight information between origin and destination\n   - **Required Parameters**: \n     * `originLocationCode` (string): 3-letter IATA code (e.g., \"MAD\")\n     * `destinationLocationCode` (string): 3-letter IATA code (e.g., \"BCN\")\n     * `departureDate` (string): Format YYYY-MM-DD (e.g., \"2025-12-15\")\n   - **Example**: `{\"originLocationCode\": \"MAD\", \"destinationLocationCode\": \"BCN\", \"departureDate\": \"2025-12-15\"}`\n   \n3. **get-airport-info**: \n   - **Purpose**: Gets detailed information about a specific airport\n   - **Required Parameters**: \n     * `iataCode` (string): 3-letter IATA code (e.g., \"SVQ\")\n   - **Example**: `{\"iataCode\": \"SVQ\"}`\n   \n4. **find-latitude-longitude**: \n   - **Purpose**: Gets coordinates for an address or place\n   - **Required Parameters**: \n     * `address` (string): The place name or address (e.g., \"Sagrada Familia, Barcelona\")\n   - **Example**: `{\"address\": \"Sagrada Familia, Barcelona\"}`\n   - **Usage**: ALWAYS use this BEFORE calling search-hotel-near-to-place or search-activities-near-place\n   \n5. **search-hotel-near-to-place**: \n   - **Purpose**: Searches for hotels near a specific location\n   - **Required Parameters**: \n     * `latitude` (number): Latitude from find-latitude-longitude\n     * `longitude` (number): Longitude from find-latitude-longitude\n   - **Example**: `{\"latitude\": 41.4036, \"longitude\": 2.1744}`\n   - **Workflow**: First call find-latitude-longitude, then use those coordinates here\n   \n6. **search-activities-near-place**: \n   - **Purpose**: Searches for activities near a specific location\n   - **Required Parameters**: \n     * `latitude` (number): Latitude from find-latitude-longitude\n     * `longitude` (number): Longitude from find-latitude-longitude\n   - **Example**: `{\"latitude\": 41.4036, \"longitude\": 2.1744}`\n   - **Workflow**: First call find-latitude-longitude, then use those coordinates here\n   \n7. **most-traveled-destinations**: \n   - **Purpose**: Gets most traveled destinations from a city with traveler scores\n   - **Required Parameters**: Check tool schema for exact parameter names\n   - **Usage**: Execute multiple times if user requests data for multiple periods\n   \n8. **show-map-options**: \n   - **Purpose**: Provides instructions on the format for map visualization results\n   - **Parameters**: None required - this tool only returns format instructions\n   - **Usage**: Call after search-hotel-near-to-place or search-activities-near-place to know output format\n   \n9. **show-flight-trajectory**: \n   - **Purpose**: Generates map options showing flight routes with layovers\n   - **Required Parameters**: Check tool schema for exact parameter names\n\n**CRITICAL RULES**:\n- NEVER invent parameter names - use EXACTLY the names specified above\n- NEVER pass extra parameters not listed in the tool schema\n- ALWAYS check if a parameter is a string or number and format accordingly\n- For tools that require coordinates, ALWAYS call find-latitude-longitude first \n\n------------\n\n# **RESPONSE INSTRUCITONS**\nIf the user asked for flights from one city to another in a date: \n1. **Information found** If you found the information you needed, present it to the user and answer his/her question in a natural way.\n\n2. **Information not found** If you did not find the needed information, notify the user that it cannot be found the information he/she asked for, since it does not exist on the database or the specification of the question was not good.\n\n3. **Graph Options** If the user asked for a graph about certain information in the API, return the according JSON. When answering the user, don't mention that you sent a JSON, simply say \"here's the graph with the information you asked\", and then put the JSON underneath.\n\n4. **Airport Information** If the user asked for airport information, retrieve it with the corresponding tools and then summarize it to the user.\n\n5. **Airport Hotels Information** If the user requested for hotels information near a specific airport, retrieve it with the corressponding tool and then try to provide the subset of information requested.\n\n6. **Nearby Hotels Information** If the user requested for hotels information near a specific place or address, retrieve it with the corresponding tools and then provide:\n- A brief description of the results found (e.g., \"I found 5 hotels near the Sagrada Familia with prices ranging from €80 to €150 per night\")\n- Optionally, highlight 1-2 key details about the top results\n- Below the description, ALWAYS include the hotel options using the show-map-options tool\n\n7. **Nearby Activities Information** If the user requested for activities near a specific place or address, retrieve it with the corresponding tools and then provide:\n- A brief summary of the activities found\n    IMPORTANT: Do not include in the initial description the booking link, but do include it on the map options!!!\n- Below the description, include the activity options if applicable (similar format to hotels)\n\n8. **Most Traveled Destiantions Information** If the user requested for most traveled destinations from an origin and date, retrieve it with the corresponding tools and then try to provide the subset of information requested. The user might also want you to provide it for more than one month, so be sure to execute this tools as many times as necessary. For example, all the most traveled destinations for the whole year 2017.\n\n9. **Show Flight Trajectory** If the user requested to see the flight trajectory of any of the flights previously searched with the tool **get-flight-offers**, provide some informatio about the flight itself and then use the corresponding tools to show the map options of the flight.\n\n# **OUTPUT FORMAT GUIDELINES**\n\n**IMPORTANT**: Do NEVER provide an empty output to the user. \n\nWhen providing map-based results (hotels, activities):\n1. Start with a natural language description (2-3 sentences max)\n2. Include the structured data below using the format: `results = [...]`\n3. Ensure the description appears BEFORE the structured data\n4. Do NOT mention that you're sending JSON or options - speak naturally\n\n---\n\n# **TOOL CALL VALIDATION CHECKLIST**\n\nBefore calling ANY tool, verify:\n\n✅ **Parameter Names**: Are you using the EXACT parameter names specified in the tool schema?\n✅ **Parameter Types**: Are strings quoted and numbers unquoted?\n✅ **Required vs Optional**: Have you included all required parameters?\n✅ **No Extra Parameters**: Are you only sending parameters that exist in the schema?\n✅ **Data Format**: \n   - Dates in YYYY-MM-DD format (string)\n   - IATA codes are 3-letter uppercase strings\n   - Coordinates are numbers (not strings)\n\n**Common Schema Errors to Avoid**:\n- ❌ Using `origin` instead of `originLocationCode`\n- ❌ Using `destination` instead of `destinationLocationCode`\n- ❌ Using `date` instead of `departureDate`\n- ❌ Using `airport` instead of `iataCode`\n- ❌ Passing coordinates as strings instead of numbers\n- ❌ Adding parameters that don't exist in the schema\n\n**If you receive a schema error**:\n1. Check the tool's parameter names in the AVAILABLE TOOLS section\n2. Verify parameter types (string vs number)\n3. Remove any extra parameters not listed in the schema\n4. Retry the tool call with corrected parameters\n",
                                                "formatting_instructions": "IMPORTANT: For your response to user, you MUST use the `format_final_json_response` tool with your complete answer formatted according to the required schema. Do not attempt to format the JSON manually - always use this tool. Your response will be rejected if it is not properly formatted through this tool. Only use this tool once you are ready to provide your final answer."
                                            }
                                        }
                                    }
                                ]
                            ]
                        },
                        "metadata": {
                            "subRun": [
                                {
                                    "node": "Simple Memory",
                                    "runIndex": 0
                                }
                            ]
                        }
                    },
                    {
                        "startTime": 1765889049258,
                        "executionTime": 0,
                        "executionIndex": 6,
                        "executionStatus": "success",
                        "source": [
                            {
                                "previousNode": "AI Agent1",
                                "previousNodeRun": 0
                            }
                        ],
                        "data": {
                            "ai_memory": [
                                [
                                    {
                                        "json": {
                                            "action": "saveContext",
                                            "chatHistory": [
                                                {
                                                    "lc": 1,
                                                    "type": "constructor",
                                                    "id": [
                                                        "langchain_core",
                                                        "messages",
                                                        "HumanMessage"
                                                    ],
                                                    "kwargs": {
                                                        "content": "Dame información sobre el aeropuerto de Madrid",
                                                        "additional_kwargs": {},
                                                        "response_metadata": {}
                                                    }
                                                },
                                                {
                                                    "lc": 1,
                                                    "type": "constructor",
                                                    "id": [
                                                        "langchain_core",
                                                        "messages",
                                                        "AIMessage"
                                                    ],
                                                    "kwargs": {
                                                        "content": "El aeropuerto de Madrid tiene el código IATA MAD. Su nombre detallado es MADRID/ES y se encuentra en la ciudad de Madrid, España. Las coordenadas geográficas son 40.49195 de latitud y -3.56944 de longitud. Su huso horario es +01:00.",
                                                        "tool_calls": [],
                                                        "invalid_tool_calls": [],
                                                        "additional_kwargs": {},
                                                        "response_metadata": {}
                                                    }
                                                },
                                                {
                                                    "lc": 1,
                                                    "type": "constructor",
                                                    "id": [
                                                        "langchain_core",
                                                        "messages",
                                                        "HumanMessage"
                                                    ],
                                                    "kwargs": {
                                                        "content": "Dame información sobre el aeropuerto de Madrid",
                                                        "additional_kwargs": {},
                                                        "response_metadata": {}
                                                    }
                                                },
                                                {
                                                    "lc": 1,
                                                    "type": "constructor",
                                                    "id": [
                                                        "langchain_core",
                                                        "messages",
                                                        "AIMessage"
                                                    ],
                                                    "kwargs": {
                                                        "content": "El aeropuerto de Madrid tiene el código IATA MAD. Su nombre detallado es MADRID/ES y se encuentra en la ciudad de Madrid, España. Las coordenadas geográficas son 40.49195 de latitud y -3.56944 de longitud. Su huso horario es +01:00.",
                                                        "tool_calls": [],
                                                        "invalid_tool_calls": [],
                                                        "additional_kwargs": {},
                                                        "response_metadata": {}
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                ]
                            ]
                        },
                        "inputOverride": {
                            "ai_memory": [
                                [
                                    {
                                        "json": {
                                            "action": "saveContext",
                                            "input": {
                                                "input": "Dame información sobre el aeropuerto de Madrid",
                                                "system_message": "# **ROLE and OBJECTIVE:** You are an Expert Assistant on Querying the Amadeus API for information about flights, airports and hotels. Your goal is to query the API to find information about what is requested by the user.\nYour other possible task is to generate JSON objects so the user can generate graphs by themselves. Whenever the user needs to generate a graph, you should extract all the information from the API.\n\n# **FLEXIBILITY and RESPONSE:**\nYour main goal is to **extract only the information that the user asks you explicitly** (e.g \"give me the estimated duration of the flight\", \"give me the price of booking the tickets for the flight, etc.\"). If the user asks you to generate a graph with some information, be sure to provide him with the JSON with the corresponding options.\n\n# **AVAILABLE TOOLS TO USE**\n\n## **IMPORTANT: Tool Parameter Requirements**\nBefore calling any tool, ensure you provide the EXACT parameters required. Do NOT add extra parameters or use incorrect parameter names.\n\n1. **options-echarts-generation**: \n   - **Purpose**: Provides instructions on how to generate ECharts options\n   - **Parameters**: None required - this tool only returns instructions\n   \n2. **get-flight-offers**: \n   - **Purpose**: Gets flight information between origin and destination\n   - **Required Parameters**: \n     * `originLocationCode` (string): 3-letter IATA code (e.g., \"MAD\")\n     * `destinationLocationCode` (string): 3-letter IATA code (e.g., \"BCN\")\n     * `departureDate` (string): Format YYYY-MM-DD (e.g., \"2025-12-15\")\n   - **Example**: `{\"originLocationCode\": \"MAD\", \"destinationLocationCode\": \"BCN\", \"departureDate\": \"2025-12-15\"}`\n   \n3. **get-airport-info**: \n   - **Purpose**: Gets detailed information about a specific airport\n   - **Required Parameters**: \n     * `iataCode` (string): 3-letter IATA code (e.g., \"SVQ\")\n   - **Example**: `{\"iataCode\": \"SVQ\"}`\n   \n4. **find-latitude-longitude**: \n   - **Purpose**: Gets coordinates for an address or place\n   - **Required Parameters**: \n     * `address` (string): The place name or address (e.g., \"Sagrada Familia, Barcelona\")\n   - **Example**: `{\"address\": \"Sagrada Familia, Barcelona\"}`\n   - **Usage**: ALWAYS use this BEFORE calling search-hotel-near-to-place or search-activities-near-place\n   \n5. **search-hotel-near-to-place**: \n   - **Purpose**: Searches for hotels near a specific location\n   - **Required Parameters**: \n     * `latitude` (number): Latitude from find-latitude-longitude\n     * `longitude` (number): Longitude from find-latitude-longitude\n   - **Example**: `{\"latitude\": 41.4036, \"longitude\": 2.1744}`\n   - **Workflow**: First call find-latitude-longitude, then use those coordinates here\n   \n6. **search-activities-near-place**: \n   - **Purpose**: Searches for activities near a specific location\n   - **Required Parameters**: \n     * `latitude` (number): Latitude from find-latitude-longitude\n     * `longitude` (number): Longitude from find-latitude-longitude\n   - **Example**: `{\"latitude\": 41.4036, \"longitude\": 2.1744}`\n   - **Workflow**: First call find-latitude-longitude, then use those coordinates here\n   \n7. **most-traveled-destinations**: \n   - **Purpose**: Gets most traveled destinations from a city with traveler scores\n   - **Required Parameters**: Check tool schema for exact parameter names\n   - **Usage**: Execute multiple times if user requests data for multiple periods\n   \n8. **show-map-options**: \n   - **Purpose**: Provides instructions on the format for map visualization results\n   - **Parameters**: None required - this tool only returns format instructions\n   - **Usage**: Call after search-hotel-near-to-place or search-activities-near-place to know output format\n   \n9. **show-flight-trajectory**: \n   - **Purpose**: Generates map options showing flight routes with layovers\n   - **Required Parameters**: Check tool schema for exact parameter names\n\n**CRITICAL RULES**:\n- NEVER invent parameter names - use EXACTLY the names specified above\n- NEVER pass extra parameters not listed in the tool schema\n- ALWAYS check if a parameter is a string or number and format accordingly\n- For tools that require coordinates, ALWAYS call find-latitude-longitude first \n\n------------\n\n# **RESPONSE INSTRUCITONS**\nIf the user asked for flights from one city to another in a date: \n1. **Information found** If you found the information you needed, present it to the user and answer his/her question in a natural way.\n\n2. **Information not found** If you did not find the needed information, notify the user that it cannot be found the information he/she asked for, since it does not exist on the database or the specification of the question was not good.\n\n3. **Graph Options** If the user asked for a graph about certain information in the API, return the according JSON. When answering the user, don't mention that you sent a JSON, simply say \"here's the graph with the information you asked\", and then put the JSON underneath.\n\n4. **Airport Information** If the user asked for airport information, retrieve it with the corresponding tools and then summarize it to the user.\n\n5. **Airport Hotels Information** If the user requested for hotels information near a specific airport, retrieve it with the corressponding tool and then try to provide the subset of information requested.\n\n6. **Nearby Hotels Information** If the user requested for hotels information near a specific place or address, retrieve it with the corresponding tools and then provide:\n- A brief description of the results found (e.g., \"I found 5 hotels near the Sagrada Familia with prices ranging from €80 to €150 per night\")\n- Optionally, highlight 1-2 key details about the top results\n- Below the description, ALWAYS include the hotel options using the show-map-options tool\n\n7. **Nearby Activities Information** If the user requested for activities near a specific place or address, retrieve it with the corresponding tools and then provide:\n- A brief summary of the activities found\n    IMPORTANT: Do not include in the initial description the booking link, but do include it on the map options!!!\n- Below the description, include the activity options if applicable (similar format to hotels)\n\n8. **Most Traveled Destiantions Information** If the user requested for most traveled destinations from an origin and date, retrieve it with the corresponding tools and then try to provide the subset of information requested. The user might also want you to provide it for more than one month, so be sure to execute this tools as many times as necessary. For example, all the most traveled destinations for the whole year 2017.\n\n9. **Show Flight Trajectory** If the user requested to see the flight trajectory of any of the flights previously searched with the tool **get-flight-offers**, provide some informatio about the flight itself and then use the corresponding tools to show the map options of the flight.\n\n# **OUTPUT FORMAT GUIDELINES**\n\n**IMPORTANT**: Do NEVER provide an empty output to the user. \n\nWhen providing map-based results (hotels, activities):\n1. Start with a natural language description (2-3 sentences max)\n2. Include the structured data below using the format: `results = [...]`\n3. Ensure the description appears BEFORE the structured data\n4. Do NOT mention that you're sending JSON or options - speak naturally\n\n---\n\n# **TOOL CALL VALIDATION CHECKLIST**\n\nBefore calling ANY tool, verify:\n\n✅ **Parameter Names**: Are you using the EXACT parameter names specified in the tool schema?\n✅ **Parameter Types**: Are strings quoted and numbers unquoted?\n✅ **Required vs Optional**: Have you included all required parameters?\n✅ **No Extra Parameters**: Are you only sending parameters that exist in the schema?\n✅ **Data Format**: \n   - Dates in YYYY-MM-DD format (string)\n   - IATA codes are 3-letter uppercase strings\n   - Coordinates are numbers (not strings)\n\n**Common Schema Errors to Avoid**:\n- ❌ Using `origin` instead of `originLocationCode`\n- ❌ Using `destination` instead of `destinationLocationCode`\n- ❌ Using `date` instead of `departureDate`\n- ❌ Using `airport` instead of `iataCode`\n- ❌ Passing coordinates as strings instead of numbers\n- ❌ Adding parameters that don't exist in the schema\n\n**If you receive a schema error**:\n1. Check the tool's parameter names in the AVAILABLE TOOLS section\n2. Verify parameter types (string vs number)\n3. Remove any extra parameters not listed in the schema\n4. Retry the tool call with corrected parameters\n",
                                                "formatting_instructions": "IMPORTANT: For your response to user, you MUST use the `format_final_json_response` tool with your complete answer formatted according to the required schema. Do not attempt to format the JSON manually - always use this tool. Your response will be rejected if it is not properly formatted through this tool. Only use this tool once you are ready to provide your final answer."
                                            },
                                            "output": {
                                                "input": "Dame información sobre el aeropuerto de Madrid",
                                                "system_message": "# **ROLE and OBJECTIVE:** You are an Expert Assistant on Querying the Amadeus API for information about flights, airports and hotels. Your goal is to query the API to find information about what is requested by the user.\nYour other possible task is to generate JSON objects so the user can generate graphs by themselves. Whenever the user needs to generate a graph, you should extract all the information from the API.\n\n# **FLEXIBILITY and RESPONSE:**\nYour main goal is to **extract only the information that the user asks you explicitly** (e.g \"give me the estimated duration of the flight\", \"give me the price of booking the tickets for the flight, etc.\"). If the user asks you to generate a graph with some information, be sure to provide him with the JSON with the corresponding options.\n\n# **AVAILABLE TOOLS TO USE**\n\n## **IMPORTANT: Tool Parameter Requirements**\nBefore calling any tool, ensure you provide the EXACT parameters required. Do NOT add extra parameters or use incorrect parameter names.\n\n1. **options-echarts-generation**: \n   - **Purpose**: Provides instructions on how to generate ECharts options\n   - **Parameters**: None required - this tool only returns instructions\n   \n2. **get-flight-offers**: \n   - **Purpose**: Gets flight information between origin and destination\n   - **Required Parameters**: \n     * `originLocationCode` (string): 3-letter IATA code (e.g., \"MAD\")\n     * `destinationLocationCode` (string): 3-letter IATA code (e.g., \"BCN\")\n     * `departureDate` (string): Format YYYY-MM-DD (e.g., \"2025-12-15\")\n   - **Example**: `{\"originLocationCode\": \"MAD\", \"destinationLocationCode\": \"BCN\", \"departureDate\": \"2025-12-15\"}`\n   \n3. **get-airport-info**: \n   - **Purpose**: Gets detailed information about a specific airport\n   - **Required Parameters**: \n     * `iataCode` (string): 3-letter IATA code (e.g., \"SVQ\")\n   - **Example**: `{\"iataCode\": \"SVQ\"}`\n   \n4. **find-latitude-longitude**: \n   - **Purpose**: Gets coordinates for an address or place\n   - **Required Parameters**: \n     * `address` (string): The place name or address (e.g., \"Sagrada Familia, Barcelona\")\n   - **Example**: `{\"address\": \"Sagrada Familia, Barcelona\"}`\n   - **Usage**: ALWAYS use this BEFORE calling search-hotel-near-to-place or search-activities-near-place\n   \n5. **search-hotel-near-to-place**: \n   - **Purpose**: Searches for hotels near a specific location\n   - **Required Parameters**: \n     * `latitude` (number): Latitude from find-latitude-longitude\n     * `longitude` (number): Longitude from find-latitude-longitude\n   - **Example**: `{\"latitude\": 41.4036, \"longitude\": 2.1744}`\n   - **Workflow**: First call find-latitude-longitude, then use those coordinates here\n   \n6. **search-activities-near-place**: \n   - **Purpose**: Searches for activities near a specific location\n   - **Required Parameters**: \n     * `latitude` (number): Latitude from find-latitude-longitude\n     * `longitude` (number): Longitude from find-latitude-longitude\n   - **Example**: `{\"latitude\": 41.4036, \"longitude\": 2.1744}`\n   - **Workflow**: First call find-latitude-longitude, then use those coordinates here\n   \n7. **most-traveled-destinations**: \n   - **Purpose**: Gets most traveled destinations from a city with traveler scores\n   - **Required Parameters**: Check tool schema for exact parameter names\n   - **Usage**: Execute multiple times if user requests data for multiple periods\n   \n8. **show-map-options**: \n   - **Purpose**: Provides instructions on the format for map visualization results\n   - **Parameters**: None required - this tool only returns format instructions\n   - **Usage**: Call after search-hotel-near-to-place or search-activities-near-place to know output format\n   \n9. **show-flight-trajectory**: \n   - **Purpose**: Generates map options showing flight routes with layovers\n   - **Required Parameters**: Check tool schema for exact parameter names\n\n**CRITICAL RULES**:\n- NEVER invent parameter names - use EXACTLY the names specified above\n- NEVER pass extra parameters not listed in the tool schema\n- ALWAYS check if a parameter is a string or number and format accordingly\n- For tools that require coordinates, ALWAYS call find-latitude-longitude first \n\n------------\n\n# **RESPONSE INSTRUCITONS**\nIf the user asked for flights from one city to another in a date: \n1. **Information found** If you found the information you needed, present it to the user and answer his/her question in a natural way.\n\n2. **Information not found** If you did not find the needed information, notify the user that it cannot be found the information he/she asked for, since it does not exist on the database or the specification of the question was not good.\n\n3. **Graph Options** If the user asked for a graph about certain information in the API, return the according JSON. When answering the user, don't mention that you sent a JSON, simply say \"here's the graph with the information you asked\", and then put the JSON underneath.\n\n4. **Airport Information** If the user asked for airport information, retrieve it with the corresponding tools and then summarize it to the user.\n\n5. **Airport Hotels Information** If the user requested for hotels information near a specific airport, retrieve it with the corressponding tool and then try to provide the subset of information requested.\n\n6. **Nearby Hotels Information** If the user requested for hotels information near a specific place or address, retrieve it with the corresponding tools and then provide:\n- A brief description of the results found (e.g., \"I found 5 hotels near the Sagrada Familia with prices ranging from €80 to €150 per night\")\n- Optionally, highlight 1-2 key details about the top results\n- Below the description, ALWAYS include the hotel options using the show-map-options tool\n\n7. **Nearby Activities Information** If the user requested for activities near a specific place or address, retrieve it with the corresponding tools and then provide:\n- A brief summary of the activities found\n    IMPORTANT: Do not include in the initial description the booking link, but do include it on the map options!!!\n- Below the description, include the activity options if applicable (similar format to hotels)\n\n8. **Most Traveled Destiantions Information** If the user requested for most traveled destinations from an origin and date, retrieve it with the corresponding tools and then try to provide the subset of information requested. The user might also want you to provide it for more than one month, so be sure to execute this tools as many times as necessary. For example, all the most traveled destinations for the whole year 2017.\n\n9. **Show Flight Trajectory** If the user requested to see the flight trajectory of any of the flights previously searched with the tool **get-flight-offers**, provide some informatio about the flight itself and then use the corresponding tools to show the map options of the flight.\n\n# **OUTPUT FORMAT GUIDELINES**\n\n**IMPORTANT**: Do NEVER provide an empty output to the user. \n\nWhen providing map-based results (hotels, activities):\n1. Start with a natural language description (2-3 sentences max)\n2. Include the structured data below using the format: `results = [...]`\n3. Ensure the description appears BEFORE the structured data\n4. Do NOT mention that you're sending JSON or options - speak naturally\n\n---\n\n# **TOOL CALL VALIDATION CHECKLIST**\n\nBefore calling ANY tool, verify:\n\n✅ **Parameter Names**: Are you using the EXACT parameter names specified in the tool schema?\n✅ **Parameter Types**: Are strings quoted and numbers unquoted?\n✅ **Required vs Optional**: Have you included all required parameters?\n✅ **No Extra Parameters**: Are you only sending parameters that exist in the schema?\n✅ **Data Format**: \n   - Dates in YYYY-MM-DD format (string)\n   - IATA codes are 3-letter uppercase strings\n   - Coordinates are numbers (not strings)\n\n**Common Schema Errors to Avoid**:\n- ❌ Using `origin` instead of `originLocationCode`\n- ❌ Using `destination` instead of `destinationLocationCode`\n- ❌ Using `date` instead of `departureDate`\n- ❌ Using `airport` instead of `iataCode`\n- ❌ Passing coordinates as strings instead of numbers\n- ❌ Adding parameters that don't exist in the schema\n\n**If you receive a schema error**:\n1. Check the tool's parameter names in the AVAILABLE TOOLS section\n2. Verify parameter types (string vs number)\n3. Remove any extra parameters not listed in the schema\n4. Retry the tool call with corrected parameters\n",
                                                "formatting_instructions": "IMPORTANT: For your response to user, you MUST use the `format_final_json_response` tool with your complete answer formatted according to the required schema. Do not attempt to format the JSON manually - always use this tool. Your response will be rejected if it is not properly formatted through this tool. Only use this tool once you are ready to provide your final answer.",
                                                "chat_history": [
                                                    {
                                                        "lc": 1,
                                                        "type": "constructor",
                                                        "id": [
                                                            "langchain_core",
                                                            "messages",
                                                            "HumanMessage"
                                                        ],
                                                        "kwargs": {
                                                            "content": "Dame información sobre el aeropuerto de Madrid",
                                                            "additional_kwargs": {},
                                                            "response_metadata": {}
                                                        }
                                                    },
                                                    {
                                                        "lc": 1,
                                                        "type": "constructor",
                                                        "id": [
                                                            "langchain_core",
                                                            "messages",
                                                            "AIMessage"
                                                        ],
                                                        "kwargs": {
                                                            "content": "El aeropuerto de Madrid tiene el código IATA MAD. Su nombre detallado es MADRID/ES y se encuentra en la ciudad de Madrid, España. Las coordenadas geográficas son 40.49195 de latitud y -3.56944 de longitud. Su huso horario es +01:00.",
                                                            "tool_calls": [],
                                                            "invalid_tool_calls": [],
                                                            "additional_kwargs": {},
                                                            "response_metadata": {}
                                                        }
                                                    }
                                                ],
                                                "output": "El aeropuerto de Madrid tiene el código IATA MAD. Su nombre detallado es MADRID/ES y se encuentra en la ciudad de Madrid, España. Las coordenadas geográficas son 40.49195 de latitud y -3.56944 de longitud. Su huso horario es +01:00.",
                                                "intermediateSteps": [
                                                    {
                                                        "action": {
                                                            "tool": "get-airport-info",
                                                            "toolInput": {
                                                                "iataCode": "MAD"
                                                            },
                                                            "toolCallId": "8f91a0df-22e5-44fc-b81d-5d90262ffb56",
                                                            "log": "Invoking \"get-airport-info\" with {\"iataCode\":\"MAD\"}\n[{\"functionCall\":{\"name\":\"get-airport-info\",\"args\":{\"iataCode\":\"MAD\"}},\"thoughtSignature\":\"CpgEAXLI2nwqiAEt6bqUoDRsitsbjGq7cEr580rcXkN5DU268rSHe4t1eIjBtFIx/rfKnnFUso7yyO8tREwCRlnR6+E4g7IpSSfiNyUBUadBQBOxdgUhk9apC5DFKfeBC7ysZgUyAY9WCUOzsUk/3aQZ7ixA9eIvQNXmTG7IU7V0OwicLg/ZQGr429uKzBM26CzF3y8tgryZqCNmLYra8hPnXR1NIk74nF+FQj2avGmqzYj+Z7PQXdWz7+San8JhQLdOLibjmoKaavdCB3uQs4q5iJ0gfaHNAGGuZXcNQrRXVtZFd+drqOLRXgLWEoUzQWnrPqdu8FCGVlS/lutSG6EvOP0OxWpixF9K0gt6Q8P5/47Ti8fOaGu1hBNBG3190RjKsDHnuDTPCSX278pcrC8Fs3kLKPg7uriufDux57Y4tyZfalDQwM8sU8vTvmRkxWl1cE+KoMntbsH3AUcgHf+6unHara6CYHpKa61E+T2XfdLt7HtoJcDzuqCxhRZ8YOCxu1BRaNXuX+uNqiygSc61AJHKYdLUwlBlIod/zW5ty4lGVaPeazmAGIiE+n5/pAiE/vNN/M+QW585DvjK2FQ7wLvuv3L8IDUwyYehs000O1HWaXTPUuetaBStEmcpa4FbO0Emr4gTCngIG5q1arkw049u/xWkP3IWROg5SofrJLXOttLL+5gTumJu/JLWb6h+WyF7kzhIaDI=\"}]",
                                                            "messageLog": [
                                                                {
                                                                    "lc": 1,
                                                                    "type": "constructor",
                                                                    "id": [
                                                                        "langchain_core",
                                                                        "messages",
                                                                        "AIMessage"
                                                                    ],
                                                                    "kwargs": {
                                                                        "content": [
                                                                            {
                                                                                "functionCall": {
                                                                                    "name": "get-airport-info",
                                                                                    "args": {
                                                                                        "iataCode": "MAD"
                                                                                    }
                                                                                },
                                                                                "thoughtSignature": "CpgEAXLI2nwqiAEt6bqUoDRsitsbjGq7cEr580rcXkN5DU268rSHe4t1eIjBtFIx/rfKnnFUso7yyO8tREwCRlnR6+E4g7IpSSfiNyUBUadBQBOxdgUhk9apC5DFKfeBC7ysZgUyAY9WCUOzsUk/3aQZ7ixA9eIvQNXmTG7IU7V0OwicLg/ZQGr429uKzBM26CzF3y8tgryZqCNmLYra8hPnXR1NIk74nF+FQj2avGmqzYj+Z7PQXdWz7+San8JhQLdOLibjmoKaavdCB3uQs4q5iJ0gfaHNAGGuZXcNQrRXVtZFd+drqOLRXgLWEoUzQWnrPqdu8FCGVlS/lutSG6EvOP0OxWpixF9K0gt6Q8P5/47Ti8fOaGu1hBNBG3190RjKsDHnuDTPCSX278pcrC8Fs3kLKPg7uriufDux57Y4tyZfalDQwM8sU8vTvmRkxWl1cE+KoMntbsH3AUcgHf+6unHara6CYHpKa61E+T2XfdLt7HtoJcDzuqCxhRZ8YOCxu1BRaNXuX+uNqiygSc61AJHKYdLUwlBlIod/zW5ty4lGVaPeazmAGIiE+n5/pAiE/vNN/M+QW585DvjK2FQ7wLvuv3L8IDUwyYehs000O1HWaXTPUuetaBStEmcpa4FbO0Emr4gTCngIG5q1arkw049u/xWkP3IWROg5SofrJLXOttLL+5gTumJu/JLWb6h+WyF7kzhIaDI="
                                                                            }
                                                                        ],
                                                                        "tool_calls": [
                                                                            {
                                                                                "name": "get-airport-info",
                                                                                "args": {
                                                                                    "iataCode": "MAD"
                                                                                },
                                                                                "type": "tool_call",
                                                                                "id": "8f91a0df-22e5-44fc-b81d-5d90262ffb56"
                                                                            }
                                                                        ],
                                                                        "additional_kwargs": {
                                                                            "finishReason": "STOP",
                                                                            "index": 0,
                                                                            "finishMessage": "Model generated function call(s)."
                                                                        },
                                                                        "usage_metadata": {
                                                                            "input_tokens": 5652,
                                                                            "output_tokens": 22,
                                                                            "total_tokens": 5800
                                                                        },
                                                                        "invalid_tool_calls": [],
                                                                        "response_metadata": {
                                                                            "tokenUsage": {
                                                                                "promptTokens": 5652,
                                                                                "completionTokens": 22,
                                                                                "totalTokens": 5800
                                                                            },
                                                                            "finishReason": "STOP",
                                                                            "index": 0,
                                                                            "finishMessage": "Model generated function call(s)."
                                                                        },
                                                                        "id": "run-a042d0e5-8b90-4e84-833b-de5d914af175"
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        "observation": "[{\"type\":\"text\",\"text\":\"{\\\"meta\\\":{\\\"links\\\":{\\\"self\\\":\\\"https://test.api.amadeus.com/v1/reference-data/locations/CMAD\\\"}},\\\"data\\\":{\\\"type\\\":\\\"location\\\",\\\"subType\\\":\\\"CITY\\\",\\\"name\\\":\\\"MADRID\\\",\\\"detailedName\\\":\\\"MADRID/ES\\\",\\\"id\\\":\\\"CMAD\\\",\\\"self\\\":{\\\"href\\\":\\\"https://test.api.amadeus.com/v1/reference-data/locations/CMAD\\\",\\\"methods\\\":[\\\"GET\\\"]},\\\"timeZoneOffset\\\":\\\"+01:00\\\",\\\"iataCode\\\":\\\"MAD\\\",\\\"geoCode\\\":{\\\"latitude\\\":40.49195,\\\"longitude\\\":-3.56944},\\\"address\\\":{\\\"cityName\\\":\\\"MADRID\\\",\\\"cityCode\\\":\\\"MAD\\\",\\\"countryName\\\":\\\"SPAIN\\\",\\\"countryCode\\\":\\\"ES\\\",\\\"regionCode\\\":\\\"EUROP\\\"},\\\"analytics\\\":{\\\"travelers\\\":{\\\"score\\\":30}}}}\"}]"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                ]
                            ]
                        },
                        "metadata": {
                            "subRun": [
                                {
                                    "node": "Simple Memory",
                                    "runIndex": 1
                                }
                            ]
                        }
                    }
                ],
                "Google Gemini Chat Model": [
                    {
                        "startTime": 1765889043842,
                        "executionTime": 2401,
                        "executionIndex": 3,
                        "executionStatus": "success",
                        "source": [
                            {
                                "previousNode": "AI Agent1",
                                "previousNodeRun": 0
                            }
                        ],
                        "data": {
                            "ai_languageModel": [
                                [
                                    {
                                        "json": {
                                            "response": {
                                                "generations": [
                                                    [
                                                        {
                                                            "text": "",
                                                            "generationInfo": {
                                                                "finishReason": "STOP",
                                                                "index": 0,
                                                                "finishMessage": "Model generated function call(s)."
                                                            }
                                                        }
                                                    ]
                                                ]
                                            },
                                            "tokenUsage": {
                                                "completionTokens": 22,
                                                "promptTokens": 5652,
                                                "totalTokens": 5674
                                            }
                                        }
                                    }
                                ]
                            ]
                        },
                        "inputOverride": {
                            "ai_languageModel": [
                                [
                                    {
                                        "json": {
                                            "messages": [
                                                "System: # **ROLE and OBJECTIVE:** You are an Expert Assistant on Querying the Amadeus API for information about flights, airports and hotels. Your goal is to query the API to find information about what is requested by the user.\nYour other possible task is to generate JSON objects so the user can generate graphs by themselves. Whenever the user needs to generate a graph, you should extract all the information from the API.\n\n# **FLEXIBILITY and RESPONSE:**\nYour main goal is to **extract only the information that the user asks you explicitly** (e.g \"give me the estimated duration of the flight\", \"give me the price of booking the tickets for the flight, etc.\"). If the user asks you to generate a graph with some information, be sure to provide him with the JSON with the corresponding options.\n\n# **AVAILABLE TOOLS TO USE**\n\n## **IMPORTANT: Tool Parameter Requirements**\nBefore calling any tool, ensure you provide the EXACT parameters required. Do NOT add extra parameters or use incorrect parameter names.\n\n1. **options-echarts-generation**: \n   - **Purpose**: Provides instructions on how to generate ECharts options\n   - **Parameters**: None required - this tool only returns instructions\n   \n2. **get-flight-offers**: \n   - **Purpose**: Gets flight information between origin and destination\n   - **Required Parameters**: \n     * `originLocationCode` (string): 3-letter IATA code (e.g., \"MAD\")\n     * `destinationLocationCode` (string): 3-letter IATA code (e.g., \"BCN\")\n     * `departureDate` (string): Format YYYY-MM-DD (e.g., \"2025-12-15\")\n   - **Example**: `{\"originLocationCode\": \"MAD\", \"destinationLocationCode\": \"BCN\", \"departureDate\": \"2025-12-15\"}`\n   \n3. **get-airport-info**: \n   - **Purpose**: Gets detailed information about a specific airport\n   - **Required Parameters**: \n     * `iataCode` (string): 3-letter IATA code (e.g., \"SVQ\")\n   - **Example**: `{\"iataCode\": \"SVQ\"}`\n   \n4. **find-latitude-longitude**: \n   - **Purpose**: Gets coordinates for an address or place\n   - **Required Parameters**: \n     * `address` (string): The place name or address (e.g., \"Sagrada Familia, Barcelona\")\n   - **Example**: `{\"address\": \"Sagrada Familia, Barcelona\"}`\n   - **Usage**: ALWAYS use this BEFORE calling search-hotel-near-to-place or search-activities-near-place\n   \n5. **search-hotel-near-to-place**: \n   - **Purpose**: Searches for hotels near a specific location\n   - **Required Parameters**: \n     * `latitude` (number): Latitude from find-latitude-longitude\n     * `longitude` (number): Longitude from find-latitude-longitude\n   - **Example**: `{\"latitude\": 41.4036, \"longitude\": 2.1744}`\n   - **Workflow**: First call find-latitude-longitude, then use those coordinates here\n   \n6. **search-activities-near-place**: \n   - **Purpose**: Searches for activities near a specific location\n   - **Required Parameters**: \n     * `latitude` (number): Latitude from find-latitude-longitude\n     * `longitude` (number): Longitude from find-latitude-longitude\n   - **Example**: `{\"latitude\": 41.4036, \"longitude\": 2.1744}`\n   - **Workflow**: First call find-latitude-longitude, then use those coordinates here\n   \n7. **most-traveled-destinations**: \n   - **Purpose**: Gets most traveled destinations from a city with traveler scores\n   - **Required Parameters**: Check tool schema for exact parameter names\n   - **Usage**: Execute multiple times if user requests data for multiple periods\n   \n8. **show-map-options**: \n   - **Purpose**: Provides instructions on the format for map visualization results\n   - **Parameters**: None required - this tool only returns format instructions\n   - **Usage**: Call after search-hotel-near-to-place or search-activities-near-place to know output format\n   \n9. **show-flight-trajectory**: \n   - **Purpose**: Generates map options showing flight routes with layovers\n   - **Required Parameters**: Check tool schema for exact parameter names\n\n**CRITICAL RULES**:\n- NEVER invent parameter names - use EXACTLY the names specified above\n- NEVER pass extra parameters not listed in the tool schema\n- ALWAYS check if a parameter is a string or number and format accordingly\n- For tools that require coordinates, ALWAYS call find-latitude-longitude first \n\n------------\n\n# **RESPONSE INSTRUCITONS**\nIf the user asked for flights from one city to another in a date: \n1. **Information found** If you found the information you needed, present it to the user and answer his/her question in a natural way.\n\n2. **Information not found** If you did not find the needed information, notify the user that it cannot be found the information he/she asked for, since it does not exist on the database or the specification of the question was not good.\n\n3. **Graph Options** If the user asked for a graph about certain information in the API, return the according JSON. When answering the user, don't mention that you sent a JSON, simply say \"here's the graph with the information you asked\", and then put the JSON underneath.\n\n4. **Airport Information** If the user asked for airport information, retrieve it with the corresponding tools and then summarize it to the user.\n\n5. **Airport Hotels Information** If the user requested for hotels information near a specific airport, retrieve it with the corressponding tool and then try to provide the subset of information requested.\n\n6. **Nearby Hotels Information** If the user requested for hotels information near a specific place or address, retrieve it with the corresponding tools and then provide:\n- A brief description of the results found (e.g., \"I found 5 hotels near the Sagrada Familia with prices ranging from €80 to €150 per night\")\n- Optionally, highlight 1-2 key details about the top results\n- Below the description, ALWAYS include the hotel options using the show-map-options tool\n\n7. **Nearby Activities Information** If the user requested for activities near a specific place or address, retrieve it with the corresponding tools and then provide:\n- A brief summary of the activities found\n    IMPORTANT: Do not include in the initial description the booking link, but do include it on the map options!!!\n- Below the description, include the activity options if applicable (similar format to hotels)\n\n8. **Most Traveled Destiantions Information** If the user requested for most traveled destinations from an origin and date, retrieve it with the corresponding tools and then try to provide the subset of information requested. The user might also want you to provide it for more than one month, so be sure to execute this tools as many times as necessary. For example, all the most traveled destinations for the whole year 2017.\n\n9. **Show Flight Trajectory** If the user requested to see the flight trajectory of any of the flights previously searched with the tool **get-flight-offers**, provide some informatio about the flight itself and then use the corresponding tools to show the map options of the flight.\n\n# **OUTPUT FORMAT GUIDELINES**\n\n**IMPORTANT**: Do NEVER provide an empty output to the user. \n\nWhen providing map-based results (hotels, activities):\n1. Start with a natural language description (2-3 sentences max)\n2. Include the structured data below using the format: `results = [...]`\n3. Ensure the description appears BEFORE the structured data\n4. Do NOT mention that you're sending JSON or options - speak naturally\n\n---\n\n# **TOOL CALL VALIDATION CHECKLIST**\n\nBefore calling ANY tool, verify:\n\n✅ **Parameter Names**: Are you using the EXACT parameter names specified in the tool schema?\n✅ **Parameter Types**: Are strings quoted and numbers unquoted?\n✅ **Required vs Optional**: Have you included all required parameters?\n✅ **No Extra Parameters**: Are you only sending parameters that exist in the schema?\n✅ **Data Format**: \n   - Dates in YYYY-MM-DD format (string)\n   - IATA codes are 3-letter uppercase strings\n   - Coordinates are numbers (not strings)\n\n**Common Schema Errors to Avoid**:\n- ❌ Using `origin` instead of `originLocationCode`\n- ❌ Using `destination` instead of `destinationLocationCode`\n- ❌ Using `date` instead of `departureDate`\n- ❌ Using `airport` instead of `iataCode`\n- ❌ Passing coordinates as strings instead of numbers\n- ❌ Adding parameters that don't exist in the schema\n\n**If you receive a schema error**:\n1. Check the tool's parameter names in the AVAILABLE TOOLS section\n2. Verify parameter types (string vs number)\n3. Remove any extra parameters not listed in the schema\n4. Retry the tool call with corrected parameters\n\nHuman: Dame información sobre el aeropuerto de Madrid\nAI: El aeropuerto de Madrid tiene el código IATA MAD. Su nombre detallado es MADRID/ES y se encuentra en la ciudad de Madrid, España. Las coordenadas geográficas son 40.49195 de latitud y -3.56944 de longitud. Su huso horario es +01:00.\nHuman: Dame información sobre el aeropuerto de Madrid"
                                            ],
                                            "estimatedTokens": 2019,
                                            "options": {
                                                "google_api_key": {
                                                    "lc": 1,
                                                    "type": "secret",
                                                    "id": [
                                                        "GOOGLE_API_KEY"
                                                    ]
                                                },
                                                "base_url": "https://generativelanguage.googleapis.com",
                                                "model": "gemini-robotics-er-1.5-preview"
                                            }
                                        }
                                    }
                                ]
                            ]
                        },
                        "metadata": {
                            "subRun": [
                                {
                                    "node": "Google Gemini Chat Model",
                                    "runIndex": 0
                                }
                            ]
                        }
                    },
                    {
                        "startTime": 1765889046870,
                        "executionTime": 2386,
                        "executionIndex": 5,
                        "executionStatus": "success",
                        "source": [
                            {
                                "previousNode": "AI Agent1",
                                "previousNodeRun": 0
                            }
                        ],
                        "data": {
                            "ai_languageModel": [
                                [
                                    {
                                        "json": {
                                            "response": {
                                                "generations": [
                                                    [
                                                        {
                                                            "text": "El aeropuerto de Madrid tiene el código IATA MAD. Su nombre detallado es MADRID/ES y se encuentra en la ciudad de Madrid, España. Las coordenadas geográficas son 40.49195 de latitud y -3.56944 de longitud. Su huso horario es +01:00.",
                                                            "generationInfo": {
                                                                "finishReason": "STOP",
                                                                "index": 0
                                                            }
                                                        }
                                                    ]
                                                ]
                                            },
                                            "tokenUsage": {
                                                "completionTokens": 72,
                                                "promptTokens": 5988,
                                                "totalTokens": 6060
                                            }
                                        }
                                    }
                                ]
                            ]
                        },
                        "inputOverride": {
                            "ai_languageModel": [
                                [
                                    {
                                        "json": {
                                            "messages": [
                                                "System: # **ROLE and OBJECTIVE:** You are an Expert Assistant on Querying the Amadeus API for information about flights, airports and hotels. Your goal is to query the API to find information about what is requested by the user.\nYour other possible task is to generate JSON objects so the user can generate graphs by themselves. Whenever the user needs to generate a graph, you should extract all the information from the API.\n\n# **FLEXIBILITY and RESPONSE:**\nYour main goal is to **extract only the information that the user asks you explicitly** (e.g \"give me the estimated duration of the flight\", \"give me the price of booking the tickets for the flight, etc.\"). If the user asks you to generate a graph with some information, be sure to provide him with the JSON with the corresponding options.\n\n# **AVAILABLE TOOLS TO USE**\n\n## **IMPORTANT: Tool Parameter Requirements**\nBefore calling any tool, ensure you provide the EXACT parameters required. Do NOT add extra parameters or use incorrect parameter names.\n\n1. **options-echarts-generation**: \n   - **Purpose**: Provides instructions on how to generate ECharts options\n   - **Parameters**: None required - this tool only returns instructions\n   \n2. **get-flight-offers**: \n   - **Purpose**: Gets flight information between origin and destination\n   - **Required Parameters**: \n     * `originLocationCode` (string): 3-letter IATA code (e.g., \"MAD\")\n     * `destinationLocationCode` (string): 3-letter IATA code (e.g., \"BCN\")\n     * `departureDate` (string): Format YYYY-MM-DD (e.g., \"2025-12-15\")\n   - **Example**: `{\"originLocationCode\": \"MAD\", \"destinationLocationCode\": \"BCN\", \"departureDate\": \"2025-12-15\"}`\n   \n3. **get-airport-info**: \n   - **Purpose**: Gets detailed information about a specific airport\n   - **Required Parameters**: \n     * `iataCode` (string): 3-letter IATA code (e.g., \"SVQ\")\n   - **Example**: `{\"iataCode\": \"SVQ\"}`\n   \n4. **find-latitude-longitude**: \n   - **Purpose**: Gets coordinates for an address or place\n   - **Required Parameters**: \n     * `address` (string): The place name or address (e.g., \"Sagrada Familia, Barcelona\")\n   - **Example**: `{\"address\": \"Sagrada Familia, Barcelona\"}`\n   - **Usage**: ALWAYS use this BEFORE calling search-hotel-near-to-place or search-activities-near-place\n   \n5. **search-hotel-near-to-place**: \n   - **Purpose**: Searches for hotels near a specific location\n   - **Required Parameters**: \n     * `latitude` (number): Latitude from find-latitude-longitude\n     * `longitude` (number): Longitude from find-latitude-longitude\n   - **Example**: `{\"latitude\": 41.4036, \"longitude\": 2.1744}`\n   - **Workflow**: First call find-latitude-longitude, then use those coordinates here\n   \n6. **search-activities-near-place**: \n   - **Purpose**: Searches for activities near a specific location\n   - **Required Parameters**: \n     * `latitude` (number): Latitude from find-latitude-longitude\n     * `longitude` (number): Longitude from find-latitude-longitude\n   - **Example**: `{\"latitude\": 41.4036, \"longitude\": 2.1744}`\n   - **Workflow**: First call find-latitude-longitude, then use those coordinates here\n   \n7. **most-traveled-destinations**: \n   - **Purpose**: Gets most traveled destinations from a city with traveler scores\n   - **Required Parameters**: Check tool schema for exact parameter names\n   - **Usage**: Execute multiple times if user requests data for multiple periods\n   \n8. **show-map-options**: \n   - **Purpose**: Provides instructions on the format for map visualization results\n   - **Parameters**: None required - this tool only returns format instructions\n   - **Usage**: Call after search-hotel-near-to-place or search-activities-near-place to know output format\n   \n9. **show-flight-trajectory**: \n   - **Purpose**: Generates map options showing flight routes with layovers\n   - **Required Parameters**: Check tool schema for exact parameter names\n\n**CRITICAL RULES**:\n- NEVER invent parameter names - use EXACTLY the names specified above\n- NEVER pass extra parameters not listed in the tool schema\n- ALWAYS check if a parameter is a string or number and format accordingly\n- For tools that require coordinates, ALWAYS call find-latitude-longitude first \n\n------------\n\n# **RESPONSE INSTRUCITONS**\nIf the user asked for flights from one city to another in a date: \n1. **Information found** If you found the information you needed, present it to the user and answer his/her question in a natural way.\n\n2. **Information not found** If you did not find the needed information, notify the user that it cannot be found the information he/she asked for, since it does not exist on the database or the specification of the question was not good.\n\n3. **Graph Options** If the user asked for a graph about certain information in the API, return the according JSON. When answering the user, don't mention that you sent a JSON, simply say \"here's the graph with the information you asked\", and then put the JSON underneath.\n\n4. **Airport Information** If the user asked for airport information, retrieve it with the corresponding tools and then summarize it to the user.\n\n5. **Airport Hotels Information** If the user requested for hotels information near a specific airport, retrieve it with the corressponding tool and then try to provide the subset of information requested.\n\n6. **Nearby Hotels Information** If the user requested for hotels information near a specific place or address, retrieve it with the corresponding tools and then provide:\n- A brief description of the results found (e.g., \"I found 5 hotels near the Sagrada Familia with prices ranging from €80 to €150 per night\")\n- Optionally, highlight 1-2 key details about the top results\n- Below the description, ALWAYS include the hotel options using the show-map-options tool\n\n7. **Nearby Activities Information** If the user requested for activities near a specific place or address, retrieve it with the corresponding tools and then provide:\n- A brief summary of the activities found\n    IMPORTANT: Do not include in the initial description the booking link, but do include it on the map options!!!\n- Below the description, include the activity options if applicable (similar format to hotels)\n\n8. **Most Traveled Destiantions Information** If the user requested for most traveled destinations from an origin and date, retrieve it with the corresponding tools and then try to provide the subset of information requested. The user might also want you to provide it for more than one month, so be sure to execute this tools as many times as necessary. For example, all the most traveled destinations for the whole year 2017.\n\n9. **Show Flight Trajectory** If the user requested to see the flight trajectory of any of the flights previously searched with the tool **get-flight-offers**, provide some informatio about the flight itself and then use the corresponding tools to show the map options of the flight.\n\n# **OUTPUT FORMAT GUIDELINES**\n\n**IMPORTANT**: Do NEVER provide an empty output to the user. \n\nWhen providing map-based results (hotels, activities):\n1. Start with a natural language description (2-3 sentences max)\n2. Include the structured data below using the format: `results = [...]`\n3. Ensure the description appears BEFORE the structured data\n4. Do NOT mention that you're sending JSON or options - speak naturally\n\n---\n\n# **TOOL CALL VALIDATION CHECKLIST**\n\nBefore calling ANY tool, verify:\n\n✅ **Parameter Names**: Are you using the EXACT parameter names specified in the tool schema?\n✅ **Parameter Types**: Are strings quoted and numbers unquoted?\n✅ **Required vs Optional**: Have you included all required parameters?\n✅ **No Extra Parameters**: Are you only sending parameters that exist in the schema?\n✅ **Data Format**: \n   - Dates in YYYY-MM-DD format (string)\n   - IATA codes are 3-letter uppercase strings\n   - Coordinates are numbers (not strings)\n\n**Common Schema Errors to Avoid**:\n- ❌ Using `origin` instead of `originLocationCode`\n- ❌ Using `destination` instead of `destinationLocationCode`\n- ❌ Using `date` instead of `departureDate`\n- ❌ Using `airport` instead of `iataCode`\n- ❌ Passing coordinates as strings instead of numbers\n- ❌ Adding parameters that don't exist in the schema\n\n**If you receive a schema error**:\n1. Check the tool's parameter names in the AVAILABLE TOOLS section\n2. Verify parameter types (string vs number)\n3. Remove any extra parameters not listed in the schema\n4. Retry the tool call with corrected parameters\n\nHuman: Dame información sobre el aeropuerto de Madrid\nAI: El aeropuerto de Madrid tiene el código IATA MAD. Su nombre detallado es MADRID/ES y se encuentra en la ciudad de Madrid, España. Las coordenadas geográficas son 40.49195 de latitud y -3.56944 de longitud. Su huso horario es +01:00.\nHuman: Dame información sobre el aeropuerto de Madrid\nAI: [\n  {\n    \"functionCall\": {\n      \"name\": \"get-airport-info\",\n      \"args\": {\n        \"iataCode\": \"MAD\"\n      }\n    },\n    \"thoughtSignature\": \"CpgEAXLI2nwqiAEt6bqUoDRsitsbjGq7cEr580rcXkN5DU268rSHe4t1eIjBtFIx/rfKnnFUso7yyO8tREwCRlnR6+E4g7IpSSfiNyUBUadBQBOxdgUhk9apC5DFKfeBC7ysZgUyAY9WCUOzsUk/3aQZ7ixA9eIvQNXmTG7IU7V0OwicLg/ZQGr429uKzBM26CzF3y8tgryZqCNmLYra8hPnXR1NIk74nF+FQj2avGmqzYj+Z7PQXdWz7+San8JhQLdOLibjmoKaavdCB3uQs4q5iJ0gfaHNAGGuZXcNQrRXVtZFd+drqOLRXgLWEoUzQWnrPqdu8FCGVlS/lutSG6EvOP0OxWpixF9K0gt6Q8P5/47Ti8fOaGu1hBNBG3190RjKsDHnuDTPCSX278pcrC8Fs3kLKPg7uriufDux57Y4tyZfalDQwM8sU8vTvmRkxWl1cE+KoMntbsH3AUcgHf+6unHara6CYHpKa61E+T2XfdLt7HtoJcDzuqCxhRZ8YOCxu1BRaNXuX+uNqiygSc61AJHKYdLUwlBlIod/zW5ty4lGVaPeazmAGIiE+n5/pAiE/vNN/M+QW585DvjK2FQ7wLvuv3L8IDUwyYehs000O1HWaXTPUuetaBStEmcpa4FbO0Emr4gTCngIG5q1arkw049u/xWkP3IWROg5SofrJLXOttLL+5gTumJu/JLWb6h+WyF7kzhIaDI=\"\n  }\n]\nTool: [{\"type\":\"text\",\"text\":\"{\\\"meta\\\":{\\\"links\\\":{\\\"self\\\":\\\"https://test.api.amadeus.com/v1/reference-data/locations/CMAD\\\"}},\\\"data\\\":{\\\"type\\\":\\\"location\\\",\\\"subType\\\":\\\"CITY\\\",\\\"name\\\":\\\"MADRID\\\",\\\"detailedName\\\":\\\"MADRID/ES\\\",\\\"id\\\":\\\"CMAD\\\",\\\"self\\\":{\\\"href\\\":\\\"https://test.api.amadeus.com/v1/reference-data/locations/CMAD\\\",\\\"methods\\\":[\\\"GET\\\"]},\\\"timeZoneOffset\\\":\\\"+01:00\\\",\\\"iataCode\\\":\\\"MAD\\\",\\\"geoCode\\\":{\\\"latitude\\\":40.49195,\\\"longitude\\\":-3.56944},\\\"address\\\":{\\\"cityName\\\":\\\"MADRID\\\",\\\"cityCode\\\":\\\"MAD\\\",\\\"countryName\\\":\\\"SPAIN\\\",\\\"countryCode\\\":\\\"ES\\\",\\\"regionCode\\\":\\\"EUROP\\\"},\\\"analytics\\\":{\\\"travelers\\\":{\\\"score\\\":30}}}}\"}]"
                                            ],
                                            "estimatedTokens": 2731,
                                            "options": {
                                                "google_api_key": {
                                                    "lc": 1,
                                                    "type": "secret",
                                                    "id": [
                                                        "GOOGLE_API_KEY"
                                                    ]
                                                },
                                                "base_url": "https://generativelanguage.googleapis.com",
                                                "model": "gemini-robotics-er-1.5-preview"
                                            }
                                        }
                                    }
                                ]
                            ]
                        },
                        "metadata": {
                            "subRun": [
                                {
                                    "node": "Google Gemini Chat Model",
                                    "runIndex": 1
                                }
                            ]
                        }
                    }
                ],
                "MCP Client LOCAL": [
                    {
                        "startTime": 1765889046245,
                        "executionTime": 605,
                        "executionIndex": 4,
                        "executionStatus": "success",
                        "source": [
                            {
                                "previousNode": "AI Agent1",
                                "previousNodeRun": 0
                            }
                        ],
                        "data": {
                            "ai_tool": [
                                [
                                    {
                                        "json": {
                                            "response": [
                                                {
                                                    "type": "text",
                                                    "text": "{\"meta\":{\"links\":{\"self\":\"https://test.api.amadeus.com/v1/reference-data/locations/CMAD\"}},\"data\":{\"type\":\"location\",\"subType\":\"CITY\",\"name\":\"MADRID\",\"detailedName\":\"MADRID/ES\",\"id\":\"CMAD\",\"self\":{\"href\":\"https://test.api.amadeus.com/v1/reference-data/locations/CMAD\",\"methods\":[\"GET\"]},\"timeZoneOffset\":\"+01:00\",\"iataCode\":\"MAD\",\"geoCode\":{\"latitude\":40.49195,\"longitude\":-3.56944},\"address\":{\"cityName\":\"MADRID\",\"cityCode\":\"MAD\",\"countryName\":\"SPAIN\",\"countryCode\":\"ES\",\"regionCode\":\"EUROP\"},\"analytics\":{\"travelers\":{\"score\":30}}}}"
                                                }
                                            ]
                                        }
                                    }
                                ]
                            ]
                        },
                        "inputOverride": {
                            "ai_tool": [
                                [
                                    {
                                        "json": {
                                            "query": {
                                                "iataCode": "MAD"
                                            },
                                            "tool": {
                                                "name": "get-airport-info",
                                                "description": "Tool to get information about an airport using its IATA code.\n                        The user should provide a valid IATA code (iataCode) as input to retrieve the desired data, as well as an amadeus API Bearer token (token). Then it will be sent to \n                        Amadeus Flight API. For example, the IATA code for Madrid airport is 'MAD'."
                                            }
                                        }
                                    }
                                ]
                            ]
                        },
                        "metadata": {
                            "subRun": [
                                {
                                    "node": "MCP Client LOCAL",
                                    "runIndex": 0
                                }
                            ]
                        }
                    }
                ],
                "AI Agent1": [
                    {
                        "startTime": 1765889043778,
                        "executionIndex": 1,
                        "source": [
                            {
                                "previousNode": "Webhook"
                            }
                        ],
                        "hints": [],
                        "executionTime": 5481,
                        "executionStatus": "success",
                        "data": {
                            "main": [
                                [
                                    {
                                        "json": {
                                            "output": "El aeropuerto de Madrid tiene el código IATA MAD. Su nombre detallado es MADRID/ES y se encuentra en la ciudad de Madrid, España. Las coordenadas geográficas son 40.49195 de latitud y -3.56944 de longitud. Su huso horario es +01:00.",
                                            "intermediateSteps": [
                                                {
                                                    "action": {
                                                        "tool": "get-airport-info",
                                                        "toolInput": {
                                                            "iataCode": "MAD"
                                                        },
                                                        "toolCallId": "8f91a0df-22e5-44fc-b81d-5d90262ffb56",
                                                        "log": "Invoking \"get-airport-info\" with {\"iataCode\":\"MAD\"}\n[{\"functionCall\":{\"name\":\"get-airport-info\",\"args\":{\"iataCode\":\"MAD\"}},\"thoughtSignature\":\"CpgEAXLI2nwqiAEt6bqUoDRsitsbjGq7cEr580rcXkN5DU268rSHe4t1eIjBtFIx/rfKnnFUso7yyO8tREwCRlnR6+E4g7IpSSfiNyUBUadBQBOxdgUhk9apC5DFKfeBC7ysZgUyAY9WCUOzsUk/3aQZ7ixA9eIvQNXmTG7IU7V0OwicLg/ZQGr429uKzBM26CzF3y8tgryZqCNmLYra8hPnXR1NIk74nF+FQj2avGmqzYj+Z7PQXdWz7+San8JhQLdOLibjmoKaavdCB3uQs4q5iJ0gfaHNAGGuZXcNQrRXVtZFd+drqOLRXgLWEoUzQWnrPqdu8FCGVlS/lutSG6EvOP0OxWpixF9K0gt6Q8P5/47Ti8fOaGu1hBNBG3190RjKsDHnuDTPCSX278pcrC8Fs3kLKPg7uriufDux57Y4tyZfalDQwM8sU8vTvmRkxWl1cE+KoMntbsH3AUcgHf+6unHara6CYHpKa61E+T2XfdLt7HtoJcDzuqCxhRZ8YOCxu1BRaNXuX+uNqiygSc61AJHKYdLUwlBlIod/zW5ty4lGVaPeazmAGIiE+n5/pAiE/vNN/M+QW585DvjK2FQ7wLvuv3L8IDUwyYehs000O1HWaXTPUuetaBStEmcpa4FbO0Emr4gTCngIG5q1arkw049u/xWkP3IWROg5SofrJLXOttLL+5gTumJu/JLWb6h+WyF7kzhIaDI=\"}]",
                                                        "messageLog": [
                                                            {
                                                                "lc": 1,
                                                                "type": "constructor",
                                                                "id": [
                                                                    "langchain_core",
                                                                    "messages",
                                                                    "AIMessage"
                                                                ],
                                                                "kwargs": {
                                                                    "content": [
                                                                        {
                                                                            "functionCall": {
                                                                                "name": "get-airport-info",
                                                                                "args": {
                                                                                    "iataCode": "MAD"
                                                                                }
                                                                            },
                                                                            "thoughtSignature": "CpgEAXLI2nwqiAEt6bqUoDRsitsbjGq7cEr580rcXkN5DU268rSHe4t1eIjBtFIx/rfKnnFUso7yyO8tREwCRlnR6+E4g7IpSSfiNyUBUadBQBOxdgUhk9apC5DFKfeBC7ysZgUyAY9WCUOzsUk/3aQZ7ixA9eIvQNXmTG7IU7V0OwicLg/ZQGr429uKzBM26CzF3y8tgryZqCNmLYra8hPnXR1NIk74nF+FQj2avGmqzYj+Z7PQXdWz7+San8JhQLdOLibjmoKaavdCB3uQs4q5iJ0gfaHNAGGuZXcNQrRXVtZFd+drqOLRXgLWEoUzQWnrPqdu8FCGVlS/lutSG6EvOP0OxWpixF9K0gt6Q8P5/47Ti8fOaGu1hBNBG3190RjKsDHnuDTPCSX278pcrC8Fs3kLKPg7uriufDux57Y4tyZfalDQwM8sU8vTvmRkxWl1cE+KoMntbsH3AUcgHf+6unHara6CYHpKa61E+T2XfdLt7HtoJcDzuqCxhRZ8YOCxu1BRaNXuX+uNqiygSc61AJHKYdLUwlBlIod/zW5ty4lGVaPeazmAGIiE+n5/pAiE/vNN/M+QW585DvjK2FQ7wLvuv3L8IDUwyYehs000O1HWaXTPUuetaBStEmcpa4FbO0Emr4gTCngIG5q1arkw049u/xWkP3IWROg5SofrJLXOttLL+5gTumJu/JLWb6h+WyF7kzhIaDI="
                                                                        }
                                                                    ],
                                                                    "tool_calls": [
                                                                        {
                                                                            "name": "get-airport-info",
                                                                            "args": {
                                                                                "iataCode": "MAD"
                                                                            },
                                                                            "type": "tool_call",
                                                                            "id": "8f91a0df-22e5-44fc-b81d-5d90262ffb56"
                                                                        }
                                                                    ],
                                                                    "additional_kwargs": {
                                                                        "finishReason": "STOP",
                                                                        "index": 0,
                                                                        "finishMessage": "Model generated function call(s)."
                                                                    },
                                                                    "usage_metadata": {
                                                                        "input_tokens": 5652,
                                                                        "output_tokens": 22,
                                                                        "total_tokens": 5800
                                                                    },
                                                                    "invalid_tool_calls": [],
                                                                    "response_metadata": {
                                                                        "tokenUsage": {
                                                                            "promptTokens": 5652,
                                                                            "completionTokens": 22,
                                                                            "totalTokens": 5800
                                                                        },
                                                                        "finishReason": "STOP",
                                                                        "index": 0,
                                                                        "finishMessage": "Model generated function call(s)."
                                                                    },
                                                                    "id": "run-a042d0e5-8b90-4e84-833b-de5d914af175"
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    "observation": "[{\"type\":\"text\",\"text\":\"{\\\"meta\\\":{\\\"links\\\":{\\\"self\\\":\\\"https://test.api.amadeus.com/v1/reference-data/locations/CMAD\\\"}},\\\"data\\\":{\\\"type\\\":\\\"location\\\",\\\"subType\\\":\\\"CITY\\\",\\\"name\\\":\\\"MADRID\\\",\\\"detailedName\\\":\\\"MADRID/ES\\\",\\\"id\\\":\\\"CMAD\\\",\\\"self\\\":{\\\"href\\\":\\\"https://test.api.amadeus.com/v1/reference-data/locations/CMAD\\\",\\\"methods\\\":[\\\"GET\\\"]},\\\"timeZoneOffset\\\":\\\"+01:00\\\",\\\"iataCode\\\":\\\"MAD\\\",\\\"geoCode\\\":{\\\"latitude\\\":40.49195,\\\"longitude\\\":-3.56944},\\\"address\\\":{\\\"cityName\\\":\\\"MADRID\\\",\\\"cityCode\\\":\\\"MAD\\\",\\\"countryName\\\":\\\"SPAIN\\\",\\\"countryCode\\\":\\\"ES\\\",\\\"regionCode\\\":\\\"EUROP\\\"},\\\"analytics\\\":{\\\"travelers\\\":{\\\"score\\\":30}}}}\"}]"
                                                }
                                            ]
                                        },
                                        "pairedItem": {
                                            "item": 0
                                        }
                                    }
                                ]
                            ]
                        }
                    }
                ],
                "AIAgentFormatter1": [
                    {
                        "startTime": 1765889049259,
                        "executionIndex": 7,
                        "source": [
                            {
                                "previousNode": "AI Agent1"
                            }
                        ],
                        "hints": [],
                        "executionTime": 2,
                        "executionStatus": "success",
                        "data": {
                            "main": [
                                [
                                    {
                                        "json": {
                                            "output": "El aeropuerto de Madrid tiene el código IATA MAD. Su nombre detallado es MADRID/ES y se encuentra en la ciudad de Madrid, España. Las coordenadas geográficas son 40.49195 de latitud y -3.56944 de longitud. Su huso horario es +01:00.",
                                            "executionID": "2056"
                                        },
                                        "pairedItem": {
                                            "item": 0
                                        }
                                    }
                                ]
                            ]
                        }
                    }
                ],
                "Respond to Webhook": [
                    {
                        "startTime": 1765889049261,
                        "executionIndex": 8,
                        "source": [
                            {
                                "previousNode": "AIAgentFormatter1"
                            }
                        ],
                        "hints": [],
                        "executionTime": 2,
                        "executionStatus": "success",
                        "data": {
                            "main": [
                                [
                                    {
                                        "json": {
                                            "output": "El aeropuerto de Madrid tiene el código IATA MAD. Su nombre detallado es MADRID/ES y se encuentra en la ciudad de Madrid, España. Las coordenadas geográficas son 40.49195 de latitud y -3.56944 de longitud. Su huso horario es +01:00.",
                                            "executionID": "2056"
                                        },
                                        "pairedItem": {
                                            "item": 0
                                        }
                                    }
                                ]
                            ]
                        }
                    }
                ]
            },
            "lastNodeExecuted": "Respond to Webhook"
        },
        "executionData": {
            "contextData": {},
            "nodeExecutionStack": [],
            "metadata": {
                "Simple Memory": [
                    {
                        "subRun": [
                            {
                                "node": "Simple Memory",
                                "runIndex": 0
                            }
                        ]
                    },
                    {
                        "subRun": [
                            {
                                "node": "Simple Memory",
                                "runIndex": 1
                            }
                        ]
                    }
                ],
                "Google Gemini Chat Model": [
                    {
                        "subRun": [
                            {
                                "node": "Google Gemini Chat Model",
                                "runIndex": 0
                            }
                        ]
                    },
                    {
                        "subRun": [
                            {
                                "node": "Google Gemini Chat Model",
                                "runIndex": 1
                            }
                        ]
                    }
                ],
                "MCP Client LOCAL": [
                    {
                        "subRun": [
                            {
                                "node": "MCP Client LOCAL",
                                "runIndex": 0
                            }
                        ]
                    }
                ]
            },
            "waitingExecution": {},
            "waitingExecutionSource": {},
            "runtimeData": {
                "version": 1,
                "establishedAt": 1765889043777,
                "source": "webhook"
            }
        }
    },
    "workflowData": {
        "id": "DCOiy98pZ1G0qFei",
        "name": "Initial Workflow TEST Remote",
        "active": true,
        "isArchived": false,
        "createdAt": "2025-11-03T12:04:48.850Z",
        "updatedAt": "2025-12-16T12:05:13.000Z",
        "nodes": [
            {
                "parameters": {
                    "notice": "",
                    "modelName": "models/gemini-robotics-er-1.5-preview",
                    "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
                "typeVersion": 1,
                "position": [
                    -352,
                    432
                ],
                "id": "4fefa9eb-70f6-49e6-83e5-9b6dfd93e9f0",
                "name": "Google Gemini Chat Model",
                "credentials": {
                    "googlePalmApi": {
                        "id": "yKgqIj7YM3fvBZzf",
                        "name": "LOGGING API MCP"
                    }
                }
            },
            {
                "parameters": {
                    "multipleMethods": false,
                    "httpMethod": "POST",
                    "path": "af5cde1d-5e54-4115-a4fa-4696aa8177b6",
                    "authentication": "none",
                    "responseMode": "responseNode",
                    "webhookNotice": "",
                    "options": {}
                },
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2.1,
                "position": [
                    -544,
                    176
                ],
                "id": "8103b896-7c70-4186-81a5-6cdb8bd4a6cc",
                "name": "Webhook",
                "webhookId": "af5cde1d-5e54-4115-a4fa-4696aa8177b6"
            },
            {
                "parameters": {
                    "aiAgentStarterCallout": "",
                    "preBuiltAgentsCallout": "",
                    "promptType": "define",
                    "text": "={{ $json.body.message }}",
                    "hasOutputParser": false,
                    "needsFallback": false,
                    "options": {
                        "systemMessage": "=# **ROLE and OBJECTIVE:** You are an Expert Assistant on Querying the Amadeus API for information about flights, airports and hotels. Your goal is to query the API to find information about what is requested by the user.\nYour other possible task is to generate JSON objects so the user can generate graphs by themselves. Whenever the user needs to generate a graph, you should extract all the information from the API.\n\n# **FLEXIBILITY and RESPONSE:**\nYour main goal is to **extract only the information that the user asks you explicitly** (e.g \"give me the estimated duration of the flight\", \"give me the price of booking the tickets for the flight, etc.\"). If the user asks you to generate a graph with some information, be sure to provide him with the JSON with the corresponding options.\n\n# **AVAILABLE TOOLS TO USE**\n\n## **IMPORTANT: Tool Parameter Requirements**\nBefore calling any tool, ensure you provide the EXACT parameters required. Do NOT add extra parameters or use incorrect parameter names.\n\n1. **options-echarts-generation**: \n   - **Purpose**: Provides instructions on how to generate ECharts options\n   - **Parameters**: None required - this tool only returns instructions\n   \n2. **get-flight-offers**: \n   - **Purpose**: Gets flight information between origin and destination\n   - **Required Parameters**: \n     * `originLocationCode` (string): 3-letter IATA code (e.g., \"MAD\")\n     * `destinationLocationCode` (string): 3-letter IATA code (e.g., \"BCN\")\n     * `departureDate` (string): Format YYYY-MM-DD (e.g., \"2025-12-15\")\n   - **Example**: `{\"originLocationCode\": \"MAD\", \"destinationLocationCode\": \"BCN\", \"departureDate\": \"2025-12-15\"}`\n   \n3. **get-airport-info**: \n   - **Purpose**: Gets detailed information about a specific airport\n   - **Required Parameters**: \n     * `iataCode` (string): 3-letter IATA code (e.g., \"SVQ\")\n   - **Example**: `{\"iataCode\": \"SVQ\"}`\n   \n4. **find-latitude-longitude**: \n   - **Purpose**: Gets coordinates for an address or place\n   - **Required Parameters**: \n     * `address` (string): The place name or address (e.g., \"Sagrada Familia, Barcelona\")\n   - **Example**: `{\"address\": \"Sagrada Familia, Barcelona\"}`\n   - **Usage**: ALWAYS use this BEFORE calling search-hotel-near-to-place or search-activities-near-place\n   \n5. **search-hotel-near-to-place**: \n   - **Purpose**: Searches for hotels near a specific location\n   - **Required Parameters**: \n     * `latitude` (number): Latitude from find-latitude-longitude\n     * `longitude` (number): Longitude from find-latitude-longitude\n   - **Example**: `{\"latitude\": 41.4036, \"longitude\": 2.1744}`\n   - **Workflow**: First call find-latitude-longitude, then use those coordinates here\n   \n6. **search-activities-near-place**: \n   - **Purpose**: Searches for activities near a specific location\n   - **Required Parameters**: \n     * `latitude` (number): Latitude from find-latitude-longitude\n     * `longitude` (number): Longitude from find-latitude-longitude\n   - **Example**: `{\"latitude\": 41.4036, \"longitude\": 2.1744}`\n   - **Workflow**: First call find-latitude-longitude, then use those coordinates here\n   \n7. **most-traveled-destinations**: \n   - **Purpose**: Gets most traveled destinations from a city with traveler scores\n   - **Required Parameters**: Check tool schema for exact parameter names\n   - **Usage**: Execute multiple times if user requests data for multiple periods\n   \n8. **show-map-options**: \n   - **Purpose**: Provides instructions on the format for map visualization results\n   - **Parameters**: None required - this tool only returns format instructions\n   - **Usage**: Call after search-hotel-near-to-place or search-activities-near-place to know output format\n   \n9. **show-flight-trajectory**: \n   - **Purpose**: Generates map options showing flight routes with layovers\n   - **Required Parameters**: Check tool schema for exact parameter names\n\n**CRITICAL RULES**:\n- NEVER invent parameter names - use EXACTLY the names specified above\n- NEVER pass extra parameters not listed in the tool schema\n- ALWAYS check if a parameter is a string or number and format accordingly\n- For tools that require coordinates, ALWAYS call find-latitude-longitude first \n\n------------\n\n# **RESPONSE INSTRUCITONS**\nIf the user asked for flights from one city to another in a date: \n1. **Information found** If you found the information you needed, present it to the user and answer his/her question in a natural way.\n\n2. **Information not found** If you did not find the needed information, notify the user that it cannot be found the information he/she asked for, since it does not exist on the database or the specification of the question was not good.\n\n3. **Graph Options** If the user asked for a graph about certain information in the API, return the according JSON. When answering the user, don't mention that you sent a JSON, simply say \"here's the graph with the information you asked\", and then put the JSON underneath.\n\n4. **Airport Information** If the user asked for airport information, retrieve it with the corresponding tools and then summarize it to the user.\n\n5. **Airport Hotels Information** If the user requested for hotels information near a specific airport, retrieve it with the corressponding tool and then try to provide the subset of information requested.\n\n6. **Nearby Hotels Information** If the user requested for hotels information near a specific place or address, retrieve it with the corresponding tools and then provide:\n- A brief description of the results found (e.g., \"I found 5 hotels near the Sagrada Familia with prices ranging from €80 to €150 per night\")\n- Optionally, highlight 1-2 key details about the top results\n- Below the description, ALWAYS include the hotel options using the show-map-options tool\n\n7. **Nearby Activities Information** If the user requested for activities near a specific place or address, retrieve it with the corresponding tools and then provide:\n- A brief summary of the activities found\n    IMPORTANT: Do not include in the initial description the booking link, but do include it on the map options!!!\n- Below the description, include the activity options if applicable (similar format to hotels)\n\n8. **Most Traveled Destiantions Information** If the user requested for most traveled destinations from an origin and date, retrieve it with the corresponding tools and then try to provide the subset of information requested. The user might also want you to provide it for more than one month, so be sure to execute this tools as many times as necessary. For example, all the most traveled destinations for the whole year 2017.\n\n9. **Show Flight Trajectory** If the user requested to see the flight trajectory of any of the flights previously searched with the tool **get-flight-offers**, provide some informatio about the flight itself and then use the corresponding tools to show the map options of the flight.\n\n# **OUTPUT FORMAT GUIDELINES**\n\n**IMPORTANT**: Do NEVER provide an empty output to the user. \n\nWhen providing map-based results (hotels, activities):\n1. Start with a natural language description (2-3 sentences max)\n2. Include the structured data below using the format: `results = [...]`\n3. Ensure the description appears BEFORE the structured data\n4. Do NOT mention that you're sending JSON or options - speak naturally\n\n---\n\n# **TOOL CALL VALIDATION CHECKLIST**\n\nBefore calling ANY tool, verify:\n\n✅ **Parameter Names**: Are you using the EXACT parameter names specified in the tool schema?\n✅ **Parameter Types**: Are strings quoted and numbers unquoted?\n✅ **Required vs Optional**: Have you included all required parameters?\n✅ **No Extra Parameters**: Are you only sending parameters that exist in the schema?\n✅ **Data Format**: \n   - Dates in YYYY-MM-DD format (string)\n   - IATA codes are 3-letter uppercase strings\n   - Coordinates are numbers (not strings)\n\n**Common Schema Errors to Avoid**:\n- ❌ Using `origin` instead of `originLocationCode`\n- ❌ Using `destination` instead of `destinationLocationCode`\n- ❌ Using `date` instead of `departureDate`\n- ❌ Using `airport` instead of `iataCode`\n- ❌ Passing coordinates as strings instead of numbers\n- ❌ Adding parameters that don't exist in the schema\n\n**If you receive a schema error**:\n1. Check the tool's parameter names in the AVAILABLE TOOLS section\n2. Verify parameter types (string vs number)\n3. Remove any extra parameters not listed in the schema\n4. Retry the tool call with corrected parameters\n",
                        "returnIntermediateSteps": true,
                        "enableStreaming": false
                    }
                },
                "type": "@n8n/n8n-nodes-langchain.agent",
                "typeVersion": 2.2,
                "position": [
                    -208,
                    176
                ],
                "id": "e5d6184f-0d22-46a1-92d5-ccc04de50656",
                "name": "AI Agent1"
            },
            {
                "parameters": {
                    "enableResponseOutput": false,
                    "generalNotice": "",
                    "respondWith": "json",
                    "webhookNotice": "",
                    "responseBody": "={{ $json }}",
                    "options": {}
                },
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.4,
                "position": [
                    368,
                    176
                ],
                "id": "9afcbfc8-d883-4be4-b58f-1478af65cd37",
                "name": "Respond to Webhook"
            },
            {
                "parameters": {
                    "notice": "",
                    "sessionIdType": "customKey",
                    "sessionKey": "={{ $json.body.conversationId }}",
                    "contextWindowLength": 5
                },
                "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
                "typeVersion": 1.3,
                "position": [
                    -144,
                    432
                ],
                "id": "71ffbe64-1123-47b3-add4-a319901c71f5",
                "name": "Simple Memory"
            },
            {
                "parameters": {
                    "notice": "",
                    "endpointUrl": "http://localhost:3000/mcp",
                    "serverTransport": "httpStreamable",
                    "authentication": "none",
                    "include": "all",
                    "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
                "typeVersion": 1.2,
                "position": [
                    48,
                    432
                ],
                "id": "53aa24cb-34be-4aa8-a3bc-cb851b594b4b",
                "name": "MCP Client LOCAL"
            },
            {
                "parameters": {
                    "content": "## Main workflow with Local MCP Client\n",
                    "height": 464,
                    "width": 1152,
                    "color": 5
                },
                "type": "n8n-nodes-base.stickyNote",
                "typeVersion": 1,
                "position": [
                    -592,
                    128
                ],
                "id": "c4b2bdde-b9c8-4f4f-a039-a34821c93434",
                "name": "Sticky Note1"
            },
            {
                "parameters": {
                    "notice": "",
                    "modelName": "models/gemini-2.0-flash-lite-001",
                    "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
                "typeVersion": 1,
                "position": [
                    -352,
                    848
                ],
                "id": "71d9470e-9d30-40f7-a5ec-9994ff3f7812",
                "name": "Google Gemini Chat Model1",
                "credentials": {
                    "googlePalmApi": {
                        "id": "tOC5itr7bTkh8Gqi",
                        "name": "Google Gemini(PaLM) Api account"
                    }
                }
            },
            {
                "parameters": {
                    "aiAgentStarterCallout": "",
                    "preBuiltAgentsCallout": "",
                    "promptType": "define",
                    "text": "={{ $json.chatInput }}",
                    "hasOutputParser": false,
                    "needsFallback": false,
                    "options": {
                        "systemMessage": "=# **ROLE and OBJECTIVE:** You are an Expert Assistant on Querying the Amadeus API for information about flights, airports and hotels. Your goal is to query the API to find information about what is requested by the user.\nYour other possible task is to generate JSON objects so the user can generate graphs by themselves. Whenever the user needs to generate a graph, you should extract all the information from the API.\n\n# **FLEXIBILITY and RESPONSE:**\nYour main goal is to **extract only the information that the user asks you explicitly** (e.g \"give me the estimated duration of the flight\", \"give me the price of booking the tickets for the flight, etc.\"). If the user asks you to generate a graph with some information, be sure to provide him with the JSON with the corresponding options.\n\n# **AVAILABLE TOOLS TO USE**\n\n1. **options-echarts-generation**: This tool provides instrucions on how to generate the ECharts options.\n2. **get-flight-offers**: This tool provides information about different flights from one origin to another destination on a specific departure date.\n3. **get-airport-info** This tool gets information about a specific airport. There are instructions on what to provide to the tool so it does the job for you.\n4. **find-latitude-longitude**: This tool gets information about the latitude and longitude of a specific address or place in particular. Use this tool whenever you need to find this coordinates for the get-hotel-near-to-place tool.\n5. **get-hotel-near-to-place**: This tool gets information about hotels near a specific place, such as squares, buildings, airports, etc. Use this tool if the user asks about hotels. There are instructions on what to provide to the tool so that it makes the job for you.\n6. **get-activities-near-place**: This tool gets information about activities near a specific place. Use this tool if the user asks about hotels. There are instructions on what to provide to the tool so that it makes the job for you. \n7. **most-traveled-destinations**: This tool gets information about the most traveled destinations from one city in particular, and displays a score on how good did the destination seem to travelers. Use this tool if the user asks about what are the most traveled destinations from somewhere.\n8. **show-map-options**: This tool generates the options in order to plot a map. This tool works together with the get-hotel-near-to-place.\n9. **show-flight-trajectory**: This tool generates the options to plot a map which includes a full flight with its corresponding layovers. \n\n------------\n\n# **RESPONSE INSTRUCITONS**\nIf the user asked for flights from one city to another in a date: \n1. **Information found** If you found the information you needed, present it to the user and answer his/her question in a natural way.\n\n2. **Information not found** If you did not find the needed information, notify the user that it cannot be found the information he/she asked for, since it does not exist on the database or the specification of the question was not good.\n\n3. **Graph Options** If the user asked for a graph about certain information in the API, return the according JSON. When answering the user, don't mention that you sent a JSON, simply say \"here's the graph with the information you asked\", and then put the JSON underneath.\n\n4. **Airport Information** If the user asked for airport information, retrieve it with the corresponding tools and then summarize it to the user.\n\n5. **Airport Hotels Information** If the user requested for hotels information near a specific airport, retrieve it with the corressponding tool and then try to provide the subset of information requested.\n\n6. **Nearby Hotels Information** If the user requested for hotels information near a specific place or address, retrieve it with the corresponding tools and then provide:\n- A brief description of the results found (e.g., \"I found 5 hotels near the Sagrada Familia with prices ranging from €80 to €150 per night\")\n- Optionally, highlight 1-2 key details about the top results\n- Below the description, ALWAYS include the hotel options using the show-map-options tool\n\n7. **Nearby Activities Information** If the user requested for activities near a specific place or address, retrieve it with the corresponding tools and then provide:\n- A brief summary of the activities found\n    IMPORTANT: Do not include in the initial description the booking link, but do include it on the map options!!!\n- Below the description, include the activity options if applicable (similar format to hotels)\n\n8. **Most Traveled Destiantions Information** If the user requested for most traveled destinations from an origin and date, retrieve it with the corresponding tools and then try to provide the subset of information requested. The user might also want you to provide it for more than one month, so be sure to execute this tools as many times as necessary. For example, all the most traveled destinations for the whole year 2017.\n\n9. **Show Flight Trajectory** If the user requested to see the flight trajectory of any of the flights previously searched with the tool **get-flight-offers**, provide some informatio about the flight itself and then use the corresponding tools to show the map options of the flight.\n\n# **OUTPUT FORMAT GUIDELINES**\n\nWhen providing map-based results (hotels, activities):\n1. Start with a natural language description (2-3 sentences max)\n2. Include the structured data below using the format: `results = [...]`\n3. Ensure the description appears BEFORE the structured data\n4. Do NOT mention that you're sending JSON or options - speak naturally\n"
                    }
                },
                "type": "@n8n/n8n-nodes-langchain.agent",
                "typeVersion": 2.2,
                "position": [
                    -352,
                    640
                ],
                "id": "fb726897-b285-4fb1-8efc-f89285da1ee8",
                "name": "AI Agent"
            },
            {
                "parameters": {
                    "notice": "",
                    "endpointUrl": "http://localhost:3000/mcp",
                    "serverTransport": "httpStreamable",
                    "authentication": "none",
                    "include": "all",
                    "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
                "typeVersion": 1.2,
                "position": [
                    -208,
                    848
                ],
                "id": "5153ad73-de63-4590-81e1-ded933a5a135",
                "name": "MCP Client LOCAL1"
            },
            {
                "parameters": {
                    "notice": "",
                    "modelName": "models/gemini-robotics-er-1.5-preview",
                    "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
                "typeVersion": 1,
                "position": [
                    848,
                    432
                ],
                "id": "dd20adbd-dbc3-4f8f-9d78-63afed82d2fd",
                "name": "Google Gemini Chat Model2",
                "credentials": {
                    "googlePalmApi": {
                        "id": "aKmFirqgPJCKb9si",
                        "name": "Logging API NOMCP"
                    }
                }
            },
            {
                "parameters": {
                    "aiAgentStarterCallout": "",
                    "preBuiltAgentsCallout": "",
                    "promptType": "define",
                    "text": "={{ $json.body.message }}",
                    "hasOutputParser": false,
                    "needsFallback": false,
                    "options": {
                        "systemMessage": "=# **ROLE AND OBJECTIVE**\nYou are an Expert Assistant for querying the Amadeus API. Your role is to:\n1. Retrieve flight, airport, hotel, and activity information as requested\n2. Generate valid ECharts JSON configurations when users request graphs\n3. Provide responses based ONLY on what the user explicitly asks\n4. **IMPORTANT CONCERN**: Before answering the question, be sure to check if there is any tool that could be useful to answer the user's question.\n\n# **CORE PRINCIPLES**\n- **Precision**: Extract and return ONLY the information the user explicitly requests\n- **Completeness**: ALWAYS finish the workflow - never stop mid-execution\n- **Format compliance**: Follow JSON format requirements exactly as specified\n- **No assumptions**: If information is missing, ask the user for clarification\n\n---\n\n# **AVAILABLE TOOLS**\n\n## 1. **options-echarts-generation**\nProvides instructions for generating ECharts options in the correct format.\n\n## 2. **get-flight-offers**\nRetrieves flight information between origin and destination on a specific date.\n- **Required**: origin IATA code, destination IATA code, departure date (YYYY-MM-DD)\n\n## 3. **get-airport-info**\nRetrieves detailed airport information (name, location, terminals, etc.).\n- **Required**: `iataCode` (3-letter IATA code)\n- **When to use**: User asks about airport details, facilities, location, or codes\n- **City to IATA mapping** (use these when user provides city names):\n  - Sevilla → SVQ | Madrid → MAD | Barcelona → BCN\n  - Valencia → VLC | Málaga → AGP | Bilbao → BIO\n\n## 4. **find-latitude-longitude**\nGets coordinates for a specific address or place.\n- **Required**: address or place name\n- **Usage**: ALWAYS use this BEFORE calling hotel/activity tools such as get-hotel-near-to-place or search-activities-near-place.\n\n## 5. **search-hotels-near-place**\nRetrieves 10 hotels near a specific location.\n- **Required**: latitude and longitude (from find-latitude-longitude)\n- **Workflow**: find-latitude-longitude → get-hotel-near-to-place → show-map-options\n\n## 6. **search-activities-near-place**\nRetrieves 10 activities near a specific location.\n- **Required**: latitude and longitude (from find-latitude-longitude)\n\n## 7. **most-traveled-destinations**\nGets top travel destinations from a specific city with traveler scores.\n- **Usage**: Execute multiple times if user requests data for multiple periods\n\n## 8. **show-map-options**\nProvides instructions and description on the format you MUST use to return map results to the user.\n- **What it does**: Returns a description/template of how to structure the output for hotels/activities\n- **Usage**: Call this tool after get-hotel-near-to-place or search-activities-near-place to know the correct output format\n- **Important**: This tool does NOT process data - it only tells you HOW to format your response to the user\n\n## 9. **show-flight-trajectory**\nProvides instructions and description on the format you MUST use to return a single flight trajectory result to the user.\n- **What it does**: Returns a description/template of how to structure the output for fight trajectories.\n- **Usage**: Call this tool whenever the user needs the trajectory of a specific flight.\n- **Important**: This tool does NOT process data - it only tells you HOW to format your response to the user.\n\n\n---\n\n# **MANDATORY WORKFLOWS**\n\n## **Hotels Near a Place**\n```\nSTEP 1: Call find-latitude-longitude(place_name)\nSTEP 2: Call get-hotel-near-to-place(latitude, longitude)\nSTEP 3: Call show-map-options(hotel_data)\nSTEP 4: Provide natural language summary + structured output\n```\n\n## **Activities Near a Place**\n```\nSTEP 1: Call find-latitude-longitude(place_name)\nSTEP 2: Call search-activities-near-place(latitude, longitude)\nSTEP 3: Provide natural language summary + structured output (NO booking links in summary)\n```\n\n## **Flight Information with Graph**\n```\nSTEP 1: Call get-flight-offers(origin, destination, date)\nSTEP 2: Call options-echarts-generation\nSTEP 3: Generate valid option = {...} format\nSTEP 4: Return brief description + formatted JSON\n```\n\n**CRITICAL**: Never stop after STEP 1 or 2. ALWAYS complete all steps and provide a final response.\n\n---\n\n# **OUTPUT FORMAT RULES**\n\n## **For Plain Text Responses**\n- Provide concise, direct answers\n- Include only requested information\n- Use bullet points for multiple items\n- No JSON formatting unless specifically requested\n\n---\n\n# **RESPONSE SCENARIOS**\n\n### **1. Flight Information**\n- **Found**: Summarize key details (price, duration, stops) naturally\n- **Not found**: \"No flights found for [origin] to [destination] on [date]. Try different dates or airports.\"\n- **With graph**: Brief intro + `option = {...}` format\n\n### **2. Airport Information**\n- Use `get-airport-info` with correct IATA code\n- Summarize: name, city, country, terminals, any special features\n\n### **3. Hotels Near Place**\n- Execute full workflow (find coords → get hotels → map options)\n- Summary first, then `results = [...]` format\n\n### **4. Activities Near Place**\n- Execute full workflow (find coords → search activities)\n- Summary WITHOUT booking links, then structured data WITH links\n\n### **5. Most Traveled Destinations**\n- Execute tool for each requested time period\n- Present results with scores in clear format\n\n### **6. Flight Trajectory**\n- Use show-flight-trajectory\n- Describe route + provide map options for the specific flight.\n\n---\n\n# **ERROR HANDLING**\n\n- **Missing required data**: Ask user for specific missing information\n- **Tool failure**: Inform user clearly: \"Unable to retrieve [data type]. Please try again or rephrase your request.\"\n- **Ambiguous request**: Ask for clarification before making assumptions\n- **Invalid IATA code**: Suggest checking the code or ask user to provide city name\n\n---\n\n# **CRITICAL REMINDERS**\n\n1. ✅ **ALWAYS complete the full workflow** - never stop mid-process\n2. ✅ **ALWAYS provide a final response** - never return empty values\n3. ✅ **Follow format rules exactly** - parsing depends on precise formatting\n4. ✅ **Use `option =` NOT `options =`** for graphs\n5. ✅ **NO semicolons or comments** in JSON output\n6. ✅ **Call find-latitude-longitude BEFORE hotel/activity tools**\n7. ✅ **Validate all outputs** match the required format before returning\n\n**When in doubt about format, refer to the tool documentation using options-echarts-generation or show-map-options.**",
                        "returnIntermediateSteps": true
                    }
                },
                "type": "@n8n/n8n-nodes-langchain.agent",
                "typeVersion": 2.2,
                "position": [
                    1216,
                    192
                ],
                "id": "cd2bb9d1-af1b-4e1f-b9e7-7bb1905075bb",
                "name": "AI Agent2",
                "alwaysOutputData": false
            },
            {
                "parameters": {
                    "content": "## Without MCP and using function calling\n\n",
                    "height": 912,
                    "width": 1568,
                    "color": 1
                },
                "type": "n8n-nodes-base.stickyNote",
                "position": [
                    672,
                    128
                ],
                "typeVersion": 1,
                "id": "53d0bdc5-cad8-4117-8947-e0c83cf5f475",
                "name": "Sticky Note"
            },
            {
                "parameters": {
                    "multipleMethods": false,
                    "httpMethod": "POST",
                    "path": "a7dfe61c-9a5f-493a-8192-baf72e9acac0",
                    "authentication": "none",
                    "responseMode": "responseNode",
                    "webhookNotice": "",
                    "options": {}
                },
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2.1,
                "position": [
                    816,
                    192
                ],
                "id": "a055c3c5-ee3f-4098-aebc-f7a432bac646",
                "name": "Webhook1",
                "webhookId": "a7dfe61c-9a5f-493a-8192-baf72e9acac0"
            },
            {
                "parameters": {
                    "enableResponseOutput": false,
                    "generalNotice": "",
                    "respondWith": "json",
                    "webhookNotice": "",
                    "responseBody": "={{$json}}",
                    "options": {}
                },
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.4,
                "position": [
                    1952,
                    192
                ],
                "id": "bb2d93bf-80ea-4cb6-845d-64049a2c956b",
                "name": "Respond to Webhook1"
            },
            {
                "parameters": {
                    "aiAgentStarterCallout": "",
                    "preBuiltAgentsCallout": "",
                    "promptType": "define",
                    "text": "={{ $json.chatInput }}",
                    "hasOutputParser": false,
                    "needsFallback": false,
                    "options": {
                        "systemMessage": "=You are a helpful AI assistant specialized in travel and flight information. Use function calling, NOT code execution.\n\nYou have access to tools that can retrieve real-time data from external APIs. When a user asks for information that requires using a tool, you MUST call the appropriate function instead of making up information.\n\n\nIMPORTANT RULES:\n1. ALWAYS use the available tools when the user asks for airport information, flight data, or related queries\n2. If the user mentions a city name, convert it to the appropriate IATA code before calling the tool\n3. After receiving tool results, provide a natural, conversational response to the user\n4. If a tool call fails, inform the user politely and offer alternatives\n5. Do NOT invent or hallucinate data - only use information from tool responses\n\nAVAILABLE TOOLS:\n- get_airport_info: Use this when users ask about airports, airport codes, airport locations, or airport facilities\n  CRITICAL: You MUST use function calling, NOT code execution.\n  When you need airport information, call the get_airport_info function directly.\n  DO NOT generate Python code. DO NOT use print() statements.\n\nEXAMPLES OF WHEN TO USE TOOLS:\n\nUser: \"What's the airport code for Madrid?\"\n→ Call get_airport_info with iataCode: \"MAD\"\n\nUser: \"Tell me about JFK airport\"\n→ Call get_airport_info with iataCode: \"JFK\"\n\nAlways be helpful, concise, and accurate. Format responses in a user-friendly way."
                    }
                },
                "type": "@n8n/n8n-nodes-langchain.agent",
                "typeVersion": 2.2,
                "position": [
                    -32,
                    640
                ],
                "id": "d32ffc76-a749-4308-9d9c-f0592e5aafc6",
                "name": "AI Agent3",
                "alwaysOutputData": false
            },
            {
                "parameters": {
                    "preBuiltAgentsCalloutHttpRequest": "",
                    "toolDescription": "Makes an HTTP request and returns the response data",
                    "curlImport": "",
                    "method": "POST",
                    "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "googlePalmApi",
                    "provideSslCertificates": false,
                    "sendQuery": false,
                    "sendHeaders": false,
                    "sendBody": true,
                    "contentType": "json",
                    "specifyBody": "json",
                    "jsonBody": "{\n  \"contents\": [{\n    \"role\": \"user\",\n    \"parts\": [{\"text\": \"¿Cuál es el clima en Madrid?\"}]\n  }],\n  \"tools\": [{\n    \"functionDeclarations\": [{\n      \"name\": \"get_weather\",\n      \"description\": \"Obtiene el clima actual de una ciudad\",\n      \"parameters\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"location\": {\n            \"type\": \"string\",\n            \"description\": \"Ciudad\"\n          }\n        },\n        \"required\": [\"location\"]\n      }\n    }]\n  }]\n}",
                    "options": {},
                    "optimizeResponse": false,
                    "infoMessage": ""
                },
                "type": "n8n-nodes-base.httpRequestTool",
                "typeVersion": 4.3,
                "position": [
                    112,
                    848
                ],
                "id": "0d66d7fe-62d6-4b98-a331-cf678fc4c497",
                "name": "HTTP Request1",
                "credentials": {
                    "googlePalmApi": {
                        "id": "tOC5itr7bTkh8Gqi",
                        "name": "Google Gemini(PaLM) Api account"
                    }
                }
            },
            {
                "parameters": {
                    "notice": "",
                    "modelName": "models/gemini-2.5-flash",
                    "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
                "typeVersion": 1,
                "position": [
                    -32,
                    848
                ],
                "id": "e132d26b-cf5f-4a0b-be4d-3b33690c6cff",
                "name": "Google Gemini Chat Model3",
                "credentials": {
                    "googlePalmApi": {
                        "id": "tOC5itr7bTkh8Gqi",
                        "name": "Google Gemini(PaLM) Api account"
                    }
                }
            },
            {
                "parameters": {
                    "preBuiltAgentsCalloutHttpRequest": "",
                    "toolDescription": "Tool to get information about an airport using its IATA code. You should provide a valid IATA code (iataCode) as input to retrieve the desired data. For example, the airport of Madrid has the 'MAD' iataCode.",
                    "curlImport": "",
                    "method": "GET",
                    "url": "=http://localhost:3001/tools/get-airport-info?iataCode={{ $fromAI('iataCode') }}",
                    "authentication": "none",
                    "provideSslCertificates": false,
                    "sendQuery": false,
                    "sendHeaders": false,
                    "sendBody": false,
                    "options": {},
                    "optimizeResponse": false,
                    "infoMessage": ""
                },
                "type": "n8n-nodes-base.httpRequestTool",
                "typeVersion": 4.3,
                "position": [
                    1472,
                    432
                ],
                "id": "35358a3d-8590-4c29-b078-07094fa48760",
                "name": "get-airport-info"
            },
            {
                "parameters": {
                    "preBuiltAgentsCalloutHttpRequest": "",
                    "toolDescription": "Tool to find the latitude and longitude of a specific place using its name or address. You should provide a valid place name or address (place) as input.",
                    "curlImport": "",
                    "method": "GET",
                    "url": "=http://localhost:3001/tools/find-latitude-longitude?place={{ $fromAI('place') }}",
                    "authentication": "none",
                    "provideSslCertificates": false,
                    "sendQuery": false,
                    "sendHeaders": false,
                    "sendBody": false,
                    "options": {},
                    "optimizeResponse": false,
                    "infoMessage": ""
                },
                "type": "n8n-nodes-base.httpRequestTool",
                "typeVersion": 4.3,
                "position": [
                    1648,
                    432
                ],
                "id": "f7103c83-cbd9-4f11-80e4-05fbd2d2a7d4",
                "name": "find-latitude-longitude"
            },
            {
                "parameters": {
                    "preBuiltAgentsCalloutHttpRequest": "",
                    "toolDescription": "This tool gets information about hotels near a specific place, such as squares, buildings, airports, etc. Use this tool if the user asks about hotels. You should provide a valid latitude and longitude. Then, return this information to the user.",
                    "curlImport": "",
                    "method": "GET",
                    "url": "=http://localhost:3001/tools/search-hotels-near-to-place?latitude={{ $fromAI('latitude') }}&longitude={{ $fromAI('longitude') }}",
                    "authentication": "none",
                    "provideSslCertificates": false,
                    "sendQuery": false,
                    "sendHeaders": false,
                    "sendBody": false,
                    "options": {},
                    "optimizeResponse": false,
                    "infoMessage": ""
                },
                "type": "n8n-nodes-base.httpRequestTool",
                "typeVersion": 4.3,
                "position": [
                    1824,
                    432
                ],
                "id": "30e2ded8-4efc-4184-baf3-4ee6902bdd92",
                "name": "search-hotels-near-place"
            },
            {
                "parameters": {
                    "notice": "",
                    "sessionIdType": "customKey",
                    "sessionKey": "={{ $json.body.conversationId }}",
                    "contextWindowLength": 5
                },
                "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
                "typeVersion": 1.3,
                "position": [
                    1024,
                    432
                ],
                "id": "ba4d55bb-17e7-4ef9-bde8-43d8976eb44c",
                "name": "Simple Memory1"
            },
            {
                "parameters": {
                    "notice": "",
                    "noticeTemplateExample": "",
                    "description": "Tool to display hotel/activity locations on a map. This tool MUST be called automatically after 'search-hotel-near-to-place'or 'search-activities-near-place' is executed.\n\n**RULES**\n1. Provide natural language description (2-3 sentences):\n   - Example: \"I found 8 hotels near Plaza Mayor with prices ranging from €60 to €180 per night.\"\n2. Output structured data in this EXACT format:\n\n```\nresults = [\n  { name: 'Hotel Name', latitude: 40.416, longitude: -3.703, price: 120 },\n  ...\n]\n```\n\n**STRICT REQUIREMENTS**:\n- ✅ Start with `results = ` (with space after equals)\n- ✅ Do NOT include quotes inside quotes ('''')\n- ✅ Array format with proper JavaScript object syntax\n- ✅ NO markdown code blocks\n- ✅ Include booking links ONLY in the structured data, NOT in the description\n\n",
                    "language": "javaScript",
                    "jsCode": "// Example: convert the incoming query to uppercase and return it\nreturn query",
                    "specifyInputSchema": false
                },
                "type": "@n8n/n8n-nodes-langchain.toolCode",
                "typeVersion": 1.3,
                "position": [
                    1312,
                    432
                ],
                "id": "73a975e4-98ee-4a42-98d2-8f88bef8e636",
                "name": "show-map-options"
            },
            {
                "parameters": {
                    "preBuiltAgentsCalloutHttpRequest": "",
                    "toolDescription": "Tool to search activities near to a specific place. Use this tool if the user requests information about activities. You should provide a valid latitude and longitude. Then, return this information to the user.",
                    "curlImport": "",
                    "method": "GET",
                    "url": "=http://localhost:3001/tools/search-activities-near-place?latitude={{ $fromAI('latitude') }}&longitude={{ $fromAI('longitude') }}",
                    "authentication": "none",
                    "provideSslCertificates": false,
                    "sendQuery": false,
                    "sendHeaders": false,
                    "sendBody": false,
                    "options": {},
                    "optimizeResponse": false,
                    "infoMessage": ""
                },
                "type": "n8n-nodes-base.httpRequestTool",
                "typeVersion": 4.3,
                "position": [
                    1568,
                    624
                ],
                "id": "fd382df5-1094-4745-acbc-43cca8731717",
                "name": "search-activities-near-place"
            },
            {
                "parameters": {
                    "notice": "",
                    "noticeTemplateExample": "",
                    "description": "Use this tool whenever the user requests you to create a graph. When user requests a graph, you MUST:\n\n**RULES**\n1. Provide a brief natural language intro (1 sentence max)\n2. Output the graph configuration in this EXACT format:\n\n```\noption = {\n  title: { text: 'Your Title' },\n  xAxis: { data: [...] },\n  yAxis: {},\n  series: [{\n    type: 'bar',\n    data: [...]\n  }]\n}\n```\n\n**STRICT REQUIREMENTS**:\n- ✅ Start with `option = ` (with space after equals)\n- ✅ Use valid JavaScript object syntax (no trailing commas in arrays)\n- ✅ NO comments inside the JSON\n- ✅ NO semicolon `;` at the end\n- ✅ NO markdown code blocks (```json```)\n- ✅ Ensure all braces `{}` and brackets `[]` are properly closed\n- ❌ NEVER use `options =` (plural)\n",
                    "language": "javaScript",
                    "jsCode": "// Example: convert the incoming query to uppercase and return it\nreturn query",
                    "specifyInputSchema": false
                },
                "type": "@n8n/n8n-nodes-langchain.toolCode",
                "typeVersion": 1.3,
                "position": [
                    1392,
                    624
                ],
                "id": "586d0d5f-8053-41ba-a9f0-b423f26051d9",
                "name": "options-echarts-generation"
            },
            {
                "parameters": {
                    "preBuiltAgentsCalloutHttpRequest": "",
                    "toolDescription": "Use this tool whenever the user wants to retrieve flight information between origin and destination on a specific date. You should provide to this tool: \n\n**Required**: origin IATA code, destination IATA code, departure date (YYYY-MM-DD) and number of adults.\n\n**CRITICAL DATE HANDLING**: \n  - If the user does NOT specify a year, you MUST assume the current year is 2025\n - The departure date must be from today onwards - warn the user if the provided date is in the past\n - The LLM should transform every date in 'YYYY-MM-DD' format.\n\n Output formatting requirements - Present ALL TEN FLIGHT OFFERS with:\n✈️ **Flight [number]**: [Airline name]\n📍 **Route**: [Origin City] → [Destination City]\n 🕐 **Departure**: [Date and time]\n🕐 **Arrival**: [Date and time]\n⏱️ **Duration**: [Total flight duration]\n💺 **Class**: [Travel class]\n💰 **Price**: [Amount in currency]\n 🔄 **Stops**: [Number of stops or \"Direct flight\"]\n",
                    "curlImport": "",
                    "method": "GET",
                    "url": "=http://localhost:3001/tools/get-flight-offers?adults={{ $fromAI('adults') }}&departureDate={{ $fromAI('departureDate') }}&destinationIataCode={{ $fromAI('destinationIataCode') }}&originIataCode={{ $fromAI('originIataCode') }}",
                    "authentication": "none",
                    "provideSslCertificates": false,
                    "sendQuery": false,
                    "sendHeaders": false,
                    "sendBody": false,
                    "options": {},
                    "optimizeResponse": false,
                    "infoMessage": ""
                },
                "type": "n8n-nodes-base.httpRequestTool",
                "typeVersion": 4.3,
                "position": [
                    1744,
                    624
                ],
                "id": "4dcb6b48-391e-4dd4-9e6d-76997c523394",
                "name": "get-flight-offers"
            },
            {
                "parameters": {
                    "notice": "",
                    "noticeTemplateExample": "",
                    "description": "Use this tool whenever the user requests to display the trajectory of a flight on a map. The user should indicate which of the flights previously found with the tool ('get-flight-offers') wants to visualize on a map. Then, the LLM must provide the necessary data to plot the flight trajectory, by also searching the latitude and longitude of the airports.\n\n**RULES**\n1. Provide a brief natural language intro (1 sentence max)\n2. Output the graph configuration in this EXACT format:\n\n```\nresults = [\n   { originIATA: 'BCN', latitude: 41.2971, longitude: 2.0785},\n   { layoverIATA: 'LHR', latitude: 51.4700, longitude: -0.4543},\n   { destinationIATA: 'MAD', latitude: 40.4779, longitude: -3.5661}\n ]\n```\n\n**STRICT REQUIREMENTS**:\n- ✅ Start directly with \"results = [\" (with space after results)\n- ✅ Use valid JavaScript object syntax (no trailing commas in arrays)\n- ✅ NO comments inside the JSON\n- ✅ NO semicolon `;` at the end\n- ✅ NO markdown code blocks (```json```)\n- ✅ Ensure all braces `{}` and brackets `[]` are properly closed\n- ✅ First one is always originIATA, last one is always destinationIATA, any in between are layoverIATA\n",
                    "language": "javaScript",
                    "jsCode": "// Example: convert the incoming query to uppercase and return it\nreturn query",
                    "specifyInputSchema": false
                },
                "type": "@n8n/n8n-nodes-langchain.toolCode",
                "typeVersion": 1.3,
                "position": [
                    1232,
                    624
                ],
                "id": "13444829-1af5-4792-a84d-239272f7b2b0",
                "name": "show-flight-trajectory"
            },
            {
                "parameters": {
                    "preBuiltAgentsCalloutHttpRequest": "",
                    "curlImport": "",
                    "method": "GET",
                    "url": "http://localhost:5678/api/v1/executions/2009",
                    "authentication": "predefinedCredentialType",
                    "nodeCredentialType": "n8nApi",
                    "provideSslCertificates": false,
                    "sendQuery": true,
                    "specifyQuery": "keypair",
                    "queryParameters": {
                        "parameters": [
                            {
                                "name": "includeData",
                                "value": "true"
                            }
                        ]
                    },
                    "sendHeaders": false,
                    "sendBody": false,
                    "options": {},
                    "infoMessage": ""
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.3,
                "position": [
                    768,
                    816
                ],
                "id": "ac461198-30d8-44ec-b45d-1b00902e31fa",
                "name": "HTTP Request",
                "credentials": {
                    "n8nApi": {
                        "id": "THqJwlb1kAg2z4uq",
                        "name": "n8n account"
                    }
                }
            },
            {
                "parameters": {
                    "mode": "manual",
                    "duplicateItem": false,
                    "assignments": {
                        "assignments": [
                            {
                                "id": "51811290-0fcf-4675-8d03-788adae5db64",
                                "name": "output",
                                "value": "={{ $json.output }}",
                                "type": "string"
                            },
                            {
                                "id": "4c54ac4c-9e11-420f-83e9-559b4f63debc",
                                "name": "executionID",
                                "value": "={{ $execution.id }}",
                                "type": "string"
                            }
                        ]
                    },
                    "includeOtherFields": false,
                    "options": {}
                },
                "type": "n8n-nodes-base.set",
                "typeVersion": 3.4,
                "position": [
                    1632,
                    192
                ],
                "id": "ad29e3b4-9fea-41d3-af75-cb8a338fd730",
                "name": "AIAgentFormatter"
            },
            {
                "parameters": {
                    "mode": "manual",
                    "duplicateItem": false,
                    "assignments": {
                        "assignments": [
                            {
                                "id": "51811290-0fcf-4675-8d03-788adae5db64",
                                "name": "output",
                                "value": "={{ $json.output }}",
                                "type": "string"
                            },
                            {
                                "id": "4c54ac4c-9e11-420f-83e9-559b4f63debc",
                                "name": "executionID",
                                "value": "={{ $execution.id }}",
                                "type": "string"
                            }
                        ]
                    },
                    "includeOtherFields": false,
                    "options": {}
                },
                "type": "n8n-nodes-base.set",
                "typeVersion": 3.4,
                "position": [
                    144,
                    176
                ],
                "id": "318773da-3c1f-4c65-ac7d-097a9aae9400",
                "name": "AIAgentFormatter1"
            }
        ],
        "connections": {
            "Google Gemini Chat Model": {
                "ai_languageModel": [
                    [
                        {
                            "node": "AI Agent1",
                            "type": "ai_languageModel",
                            "index": 0
                        }
                    ]
                ]
            },
            "Webhook": {
                "main": [
                    [
                        {
                            "node": "AI Agent1",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Respond to Webhook": {
                "main": [
                    []
                ]
            },
            "AI Agent1": {
                "main": [
                    [
                        {
                            "node": "AIAgentFormatter1",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Simple Memory": {
                "ai_memory": [
                    [
                        {
                            "node": "AI Agent1",
                            "type": "ai_memory",
                            "index": 0
                        }
                    ]
                ]
            },
            "MCP Client LOCAL": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent1",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "Google Gemini Chat Model1": {
                "ai_languageModel": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_languageModel",
                            "index": 0
                        }
                    ]
                ]
            },
            "MCP Client LOCAL1": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "Google Gemini Chat Model2": {
                "ai_languageModel": [
                    [
                        {
                            "node": "AI Agent2",
                            "type": "ai_languageModel",
                            "index": 0
                        }
                    ]
                ]
            },
            "Webhook1": {
                "main": [
                    [
                        {
                            "node": "AI Agent2",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "AI Agent2": {
                "main": [
                    [
                        {
                            "node": "AIAgentFormatter",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Respond to Webhook1": {
                "main": [
                    []
                ]
            },
            "HTTP Request1": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent3",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "Google Gemini Chat Model3": {
                "ai_languageModel": [
                    [
                        {
                            "node": "AI Agent3",
                            "type": "ai_languageModel",
                            "index": 0
                        }
                    ]
                ]
            },
            "get-airport-info": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent2",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "find-latitude-longitude": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent2",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "search-hotels-near-place": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent2",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "Simple Memory1": {
                "ai_memory": [
                    [
                        {
                            "node": "AI Agent2",
                            "type": "ai_memory",
                            "index": 0
                        }
                    ]
                ]
            },
            "show-map-options": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent2",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "search-activities-near-place": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent2",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "options-echarts-generation": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent2",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "get-flight-offers": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent2",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "show-flight-trajectory": {
                "ai_tool": [
                    [
                        {
                            "node": "AI Agent2",
                            "type": "ai_tool",
                            "index": 0
                        }
                    ]
                ]
            },
            "AIAgentFormatter": {
                "main": [
                    [
                        {
                            "node": "Respond to Webhook1",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "AIAgentFormatter1": {
                "main": [
                    [
                        {
                            "node": "Respond to Webhook",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "settings": {
            "executionOrder": "v1",
            "timezone": "Europe/Madrid",
            "callerPolicy": "workflowsFromSameOwner",
            "availableInMCP": false,
            "errorWorkflow": "NLRPvet2Y6Vrmpj5"
        },
        "staticData": {},
        "pinData": {
            "Webhook1": [
                {
                    "json": {
                        "headers": {
                            "host": "localhost:5678",
                            "connection": "keep-alive",
                            "content-type": "application/json",
                            "authorization": "Bearer undefined",
                            "accept": "*/*",
                            "accept-language": "*",
                            "sec-fetch-mode": "cors",
                            "user-agent": "node",
                            "accept-encoding": "gzip, deflate",
                            "content-length": "101"
                        },
                        "params": {},
                        "query": {},
                        "body": {
                            "message": "hola",
                            "conversationId": "69413e7af6dc9a8e60425413",
                            "timestamp": "2025-12-16T11:11:59.756Z"
                        },
                        "webhookUrl": "http://localhost:5678/webhook/a7dfe61c-9a5f-493a-8192-baf72e9acac0",
                        "executionMode": "production"
                    }
                }
            ]
        }
    },
    "customData": {}
}